
<mat-card>HSIA Info</mat-card>
<div class="hsiaFieldset">
  <fieldset>
    <legend>HSIA</legend>
    <table>
      <tr>
        <td><label>HSIA Order Status: </label></td>
        <td><input disabled="true" style="margin-left:15%"></td>
      </tr>
      <tr>
        <td><label>HSIA Order Due Date:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.hsiaHeldOrdDueDate}}</td>
      </tr>
      <tr>
        <td><label>HSIA Order Number:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.ehsiaHeldOrdNumber}}</td>
      </tr>
      <tr>
        <td><label>HSIA Order uBan:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.hsiaHeldOrdUban}}</td>
      </tr>
      <tr>
        <td><label>Network Transport Type:</label></td>
        <td><input disabled="true" style="margin-left:14.9%">{{hsiaInfo.networkTransportType}}</td>
      </tr>
      <tr>
        <td><label>Sub Transport Type:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.subTransportType}}</td>
      </tr>
      <tr>
        <td><label>Full Tech Install Indicator:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.fullTechInstallInd}}</td>
      </tr>
      <tr>
        <td><label>Inside Wiring Indicator:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.efbsHsiaIwInd}}</td>
      </tr>
      <tr>
        <td><label>Inside Wiring Type:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.efbsHsiaIwType}}</td>
      </tr>
      <tr>
        <td><label>HSIA Due Date:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.hsiaDueDate}}</td>
      </tr>
      <tr>
        <td><label>HSIA-E CPE Choice:</label></td>
        <td><input disabled="true" style="margin-left:15%">{{hsiaInfo.hsiaECpeChoice}}</td>
      </tr>
    </table>
  </fieldset>
</div>

<div class="falloutInfoFieldset">
  <fieldset>
    <legend>Fallout Information</legend>
    <table>
      <tr>
        <td><label>HSIA Error Code:</label></td>
        <td><input disabled="true">{{hsiaInfo.hsiaHeldOrdErrCode}}</td>
      </tr>
      <tr>
        <td><label>HSIA Error Description:</label></td>
        <td><textarea disabled="true">{{hsiaInfo.hsiaHeldOrdErrDes}}</textarea></td>
      </tr>
      <tr>
        <td><label>Source:</label></td>
        <td><input disabled="true">{{hsiaInfo.hsiaHeldSource}}</td>
      </tr>
      <tr>
        <td><label>Source Activity Name:</label></td>
        <td><textarea disabled="true">{{hsiaInfo.hsiaHeldSrcActName}}</textarea></td>
      </tr>
      <tr>
        <td><label>Fallout Ind:</label></td>
        <td><input disabled="true">{{hsiaInfo.falloutInd}}</td>
      </tr>
    </table>
  </fieldset>
</div>
<div class="efbsFieldset">
  <fieldset>
    <legend>eFBS</legend>
    <table>
      <tr>
        <td><label>IPAG Order Status:</label></td>
        <td><input disabled="true" style="margin-left:16.5%"></td>
      </tr>
      <tr>
        <td><label>EMT Assignment(CLLI):</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.emtAssignment}}</td>
      </tr>
      <tr>
        <td><label>EMT Equipment Type:</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.emtEquipmentType}}</td>
      </tr>
      <tr>
        <td><label>EMT V-LAN:</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.emtVlan}}</td>
      </tr>
      <tr>
        <td><label>EMT Card/Slot/Port:</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.emtPortAssignment}}</td>
      </tr>
      <tr>
        <td><label>EMT/FBGs-Vlan/c-Vlan:</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.emtFbgAccessCvlan}}</td>
      </tr>
      <tr>
        <td><label>INL S-VLAN:</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.inlSvlan}}</td>
      </tr>
      <tr>
        <td><label>INL C-VLAN:</label></td>
        <td><input disabled="true" style="margin-left:16.5%">{{hsiaInfo.inlCvlan}}</td>
      </tr>
    </table>
  </fieldset>
</div>
<div class="closeBtn">
  <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
</div>