


mat-card{
    background: #3f51b5;
    color: white;
    width: 102.7%;
    padding: 8px;
    margin-left: -2%;
    margin-top: -2%;
}
table{
    width: 100%;
}
table, tr, td{
    /* border: 1px solid gray; */
}

.tabGrp{
    width: 87%;
    height: 370px;
    border: 1px solid gray;
    display: inline-block;
}
.btnGrp{
    width: 10%;
    height: 370px;
    /* border: 1px solid gray; */
    float: right;
}
.container{
    width: 87%;
    height: auto;
    /* border: 1px solid gray; */
}
.custIdTd{
    width: 15%;
}
.custNameTd{
    width: 21%
}
.btnTd{
    width: 10%;
}
.custNamInpt{
    width: 95%;
}
.reportInpt{
    width: 95%;
}
.emailInpt{
    width: 98%;
}
.caseTitleInpt{
    width: 85%;
}
.salesDrop{
    width: 40%;
}
.salesTd{
    width: 21%;
}
.custTbl{
    margin-top: -1%;
}
.reportTbl{
    margin-top: -2%;
}
.serviceBtn{
    margin-top: 16%;
    float: right;
}
.serviceBtn1{
    float: right;
}
.serviceDrop{
    width: 25%;
}
.offerDrop{
    width: 17%;
}
.mainDropTd{
    width: 36%;
}
.flashBtn{
    float: right;
}

/* case Tab */

.typeDrop{

}
.typeTd{
    width: 11%;
}
.typeInpt{
    width: 33%;
}
.priorityTd{
    width: 13%;
}
.typeTbl{
    margin-top: -1%;
}
.typeTbl2{
    margin-top: -2%;
}
textarea{
    width: 96%;
    height: 138px;
    border: 1px solid gray;
    margin-left: 1.7%
}


