<div>
    <mat-card>BRASS Errors<p (click)="closeDialog()" class="closeBtn">&times;</p></mat-card>
  <table>
    <tr>
      <td class="labelTd">
        <mat-label>Error Code:</mat-label>
      </td>
      <td>
        <mat-form-field class="errorInpt1">
          <input matInput disabled [(ngModel)]="brassError.errorCode" type="text">
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button [disabled]="disableNext" color="primary" (click)="next();"  class="nxtBtn">Next</button>
      </td>
    </tr>
    <tr>
      <td class="labelTd">
        <mat-label>Case ID: </mat-label>
      </td>
      <td>
        <mat-form-field class="errorInpt1">
          <input matInput disabled [(ngModel)]="brassError.caseId" type="text">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td class="labelTd">
        <mat-label>Short Description: </mat-label>
      </td>
      <td>
        <mat-form-field class="shortInpt">
          <input matInput disabled [(ngModel)]="brassError.shortDescription" type="text">
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button [disabled]="disablePrev" color="primary" (click)="prev();" class="nxtBtn">Prev</button>
      </td>
    </tr>
  </table>
  <!-- <div>
  <div class="longLbl">

  </div>
  <div class="longTxt">

  </div>
  </div>
  <div>
  <div class="recomLbl">

  </div>
  <div class="recomTxt">

  </div>
  </div> -->
  <table>
    <tr>
      <td class="labelTd">
        <mat-label>Long Description: </mat-label>
      </td>
      <td>
        <textarea disabled [(ngModel)]="brassError.longDescription" class="textArea">

        </textarea>
      <!-- </td>
      <td class="saveTd"> -->
        <button mat-raised-button color="primary" (click)="saveBrassErrorStatus()" class="savBtn">Save</button>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="labelTd">
        <mat-label>Recom Resolution: </mat-label>
      </td>
      <td>
        <textarea disabled [(ngModel)]="brassError.recommendedSoln" class="recomTxt">
        </textarea>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="labelTd">
        <mat-label>VISP: </mat-label>
      </td>
      <td>
        <mat-form-field class="errorInpt">
          <input matInput disabled [(ngModel)]="brassError.vispIndicator" type="text">
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td class="labelTd"><mat-label>Error Status: </mat-label></td>
      <td>
        <mat-form-field class="errorStatus">
          <mat-select [(ngModel)]="brassError.status">
            <mat-option *ngFor="let statusValue of optionValues" [value]="statusValue">{{statusValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
</div>