<mat-card>Case Query<span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<!-- div1 -->
<div>
  <div class="propertyTable">
    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8" bbwDraggableTable>
      <ng-container matColumnDef="Property">
        <th mat-header-cell *matHeaderCellDef>Property</th>
        <td mat-cell *matCellDef="let property"> {{property}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns1;" [ngClass]="{'highlight': selectedProperty == row}"
        (click)="setSelectedPropertyRow(row)">
      </tr>
    </table>
  </div>

  <!-- div2 -->
  <div class="div2">
    <div>
      <table>
        <tr>
          <td></td>
          <td>
            <mat-label>which is:</mat-label>&nbsp;
            <mat-form-field>
              <mat-select [(ngModel)]="selectedDropDownValue" [disabled]="whichSelectDropDisable">
                <mat-option *ngFor="let selectFirst of selectFirsts" [value]="selectFirst">{{selectFirst}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-checkbox [disabled]="changeCheckDisabled" [(ngModel)]="checkChange">Changeable</mat-checkbox>
          </td>

          <td>
            <mat-label>value:</mat-label>
            <mat-form-field>
              <input matInput [(ngModel)]="userTextInput">
            </mat-form-field>
          </td>
          <td>
            <button mat-raised-button color="primary" [disabled]="dateBtnDisabled" (click)="dateTimeChange()">D/T</button>
          </td>
          <td>
            <button mat-raised-button color="primary" [disabled]="addBtnDisabled" (click)="addQueryData()">Add</button>
          </td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td>
            <button mat-raised-button color="primary" [disabled]="filterBtnDisabled" (click)="filterValueListBy()">*Filter
              value list by:</button>
          </td>
          <td>
            <mat-form-field>
              <input matInput >
            </mat-form-field>
          </td>
          <td></td>
          <td>
            <button mat-raised-button color="primary" (click)="replaceExistingQryElmData()" [disabled]="replaceBtnDisabled">Replace</button>
          </td>
        </tr>
      </table>
    </div>
    <!-- valueListTable -->
    <div class="valueListTable">
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8" bbwDraggableTable>
        <ng-container matColumnDef="Value List">
          <th mat-header-cell *matHeaderCellDef>Value List</th>
          <td mat-cell *matCellDef="let filteredValue"> {{filteredValue}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2;" [ngClass]="{'highlight': selectedRow == row}"
          (click)="setSelectedFilteredValue(row)">
        </tr>
      </table>
    </div>
  </div>
</div><br>
<!-- div3 -->
<div class="mainTable">
  <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8" bbwDraggableTable>
    <ng-container matColumnDef="Property">
      <th mat-header-cell *matHeaderCellDef>Property</th>
      <td mat-cell *matCellDef="let select"> {{select.fieldName}} </td>
    </ng-container>
    <ng-container matColumnDef="Operator">
      <th mat-header-cell *matHeaderCellDef>Operator</th>
      <td mat-cell *matCellDef="let select"> {{select.operName}} </td>
    </ng-container>
    <ng-container matColumnDef="Value">
      <th mat-header-cell *matHeaderCellDef>Value</th>
      <td mat-cell *matCellDef="let select"> {{select.fieldValue}} </td>
    </ng-container>
    <ng-container matColumnDef="Changeable">
      <th mat-header-cell *matHeaderCellDef>Changeable</th>
      <td mat-cell *matCellDef="let select"> {{select.promptIndSt}} </td>
    </ng-container>
    <ng-container matColumnDef="Change">
      <th mat-header-cell *matHeaderCellDef>Change</th>
      <td mat-cell *matCellDef="let select"> {{select.promptIndSt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns3;let index = index;" [ngClass]="{'highlight': selectedQueryElmData == row}"
      (click)="setSelectedQueryElmData(row,index)">
    </tr>
  </table>
</div>
<!-- div4 -->
<div>
  <table>
    <tr>
      <td>
        <mat-label>Sort results by:</mat-label>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="sortResult.fieldName">
            <mat-option *ngFor="let sortResultField of sortResultFields" [value]="sortResultField">{{sortResultField}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="sortResult.sortNum">
            <mat-option value="0">Ascending</mat-option>
            <mat-option value="1">Descending</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td><button mat-raised-button color="primary" (click)="saveAs();">Save As</button></td>
      <td><button mat-raised-button color="primary" (click)="saveCaseQuery()" [disabled]="isNew">Save</button></td>
      <td><button mat-raised-button color="primary" (click)="findCases()">Find</button></td>
      <td><button mat-raised-button color="primary" (click)="cancelDialog()">Done</button></td>
    </tr>
  </table>
</div>
<div class="btnGroup">
  <button class="btn" mat-raised-button color="primary" (click)="removeQryElmData()" [disabled]="removeBtnDisabled">Remove</button><br>
  <button class="btn" mat-raised-button color="primary" (click)="removeAllQryElmData()" [disabled]="removeAllBtnDisabled">
    Remove All</button>
</div>