mat-card{
    background: #3f51b5;
    color: white;
    width: 102.7%;
    padding: 8px;
    margin-left: -2%;
    margin-top: -2%;
}
table{
    width: 100%;
}
table, tr, td{
    /* border: 1px solid gray; */
}
tr.mat-row:nth-child(odd){
    background: #f2f2f2;
}

tr.mat-row.highlight{
    background:#BBDEFB;
    color: white;
}
tr.mat-row.highlight{
    background: #BBDEFB;
    color: white;
}

.listBtn{
    float: right;
}
.listTd{
    width: 18%;
}
.status{
    float: right;
    width: 35%;
}
.siteIdName{
    width: 20%;
}
.siteTypeTd{
    width: 55%;
}
.siteTypLbl{
    float: right;
}
.siteIdInpt{
    width: 98%;
}
.siteNameInpt{
    width: 98%;
    float: right;
}
.addressInpt{
    width: 99%;
}
.addressTd{
    
}
.cityTd{
    width: 26%;
}
.stateTd{
    width: 14%;
}
.cityInpt{
    width: 97%;
    margin-left: 3%;
}
.stateInpt{
    width: 50%;
    float: right;
}
.sortLbl{
    float: right;
    margin-right: 1%;
}
.sortOpt{
    width: 42%
}
.siteTabl{
    margin-top: -1.8%;
}
.tableData{
    width: 100%;
    height: 200px;
    border: 1px solid gray;
    overflow: auto;
}
.inptItem{
    width: 15%;
}
.itemTd{
    width: 40%;
}
.newBtn{

}
.openBtn{

}
.donBtn{
    float: right;
}
.donTd{
    width: 9%;
}
.btnGrp{
    margin-top: 2%;
}
tr.mat-header-row{
    height: 25px;
}
th{
   background: #3f51b5
}
th.mat-header-cell {
    font-size: 15px;
    color: white;
    /* text-align: center; */
}
.td{
    border-right: 1px solid #0000001f;
    padding: 5px;
}
.th {
    border-right: 1px solid #0000001f;
    padding-left: 4px;
}
.statusTd{
    width: 6.5%;
}


