<div>
<mat-card> BGATE Error <p (click)="closeDialog()" class="close">&times;</p></mat-card>
  <table>
    <tr>
      <td class="custTd"><mat-label class="custIdLbl" >Cust ID: </mat-label></td>
      <td>
        <mat-form-field class="custIdInpt">
          <input matInput [(ngModel)]="caseInfo.tableSite.siteId" type="text"> 
        </mat-form-field> 
      </td>
      <td><mat-label class="nameLbl" >Name: </mat-label></td>
      <td>
        <mat-form-field class="custNamInpt inptItm">
          <input matInput [(ngModel)]="caseInfo.tableSite.name" type="text"> 
        </mat-form-field> 
      </td>
      <td>  
        <mat-form-field class="custDrop">
          <mat-select [(ngModel)]="status" (change)="initialize()">
            <mat-option *ngFor="let drop of selectDrop" [value]="drop">{{drop}}</mat-option> 
          </mat-select>
        </mat-form-field>
      </td>  
      <td><mat-label class="billerLbl inptItm">Biller ID: </mat-label></td>
      <td>
        <mat-form-field class="billerInpt">
          <input matInput [(ngModel)]="caseInfo.tableSof.billerCode" type="text"> 
        </mat-form-field> 
      </td>
    </tr>
  </table>
  <div class="errorDiv">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

      <ng-container matColumnDef="type1">
        <th mat-header-cell class="th" *matHeaderCellDef> Error Message</th>
        <td mat-cell class="td" *matCellDef="let queuesCase"> {{queuesCase.errorMessage}} </td>
      </ng-container>
 
      <ng-container matColumnDef="idNumber">
        <th mat-header-cell class="th" *matHeaderCellDef> Error Description </th>
        <td mat-cell class="td" *matCellDef="let queuesCase"> {{queuesCase.errorDescription}} </td>
      </ng-container>
 
      <ng-container matColumnDef="special">
        <th mat-header-cell class="th" *matHeaderCellDef> Error Number</th>
        <td mat-cell class="td" *matCellDef="let queuesCase"> {{queuesCase.errorNumber}} </td>
      </ng-container>
 
      <ng-container matColumnDef="name">
        <th mat-header-cell class="th" *matHeaderCellDef> Error Status </th>
        <td mat-cell class="td" *matCellDef="let queuesCase"> {{queuesCase.status}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="result-row" [hidden]="status != row.status" *matRowDef="let row; columns: displayedColumns;"
                                    [ngClass]="{'highlight': selectedTyp == row}"
                                                        (click)="setClickedRow(row)"></tr>
    </table>
  </div>
  <table>
    <tr>
      <td>
        <mat-label class="recordLbl">Record Type:</mat-label>
        <mat-form-field class="RecordInpt">
          <input matInput [(ngModel)]="selectedTyp.errorType" type="text"> 
        </mat-form-field> 
        <mat-label class="errorLbl">Error Number:</mat-label>
        <mat-form-field class="errorInpt">
          <input matInput [(ngModel)]="selectedTyp.errorNumber" type="text"> 
        </mat-form-field> 
        <!-- <mat-label class="errordesLbl">Error Description:</mat-label>
        <mat-form-field class="errordesInpt">
          <input matInput type="text"> 
        </mat-form-field>  -->
        <button class="errorBtn" (click)="clearBgateErrors()" mat-button>Error Clear</button>
      </td>
    </tr>
  </table>
  <mat-label class="">Error Description:</mat-label>
  <mat-form-field class="errordes">
    <input matInput [(ngModel)]="selectedTyp.errorDescription" type="text"> 
  </mat-form-field> 
<table>
  <tr>
    <td class="errorTd"><mat-label>Error Message:</mat-label></td>
    <td>
      <textarea [(ngModel)]="selectedTyp.errorMessage" class="textInpt">
      </textarea>
    </td>
    <td class="resubTd">
    <button class="resubBtn" (click)="resubmitBgateErrors()" mat-button>RESUBMIT</button>
    </td>
  </tr>
</table>
 
        <!-- <mat-label class="messageLbl">Error Message:</mat-label>
        <textarea class="textInpt">

        </textarea>
        <button class="resubBtn" mat-button>RESUBMIT</button> -->

</div>
<mat-progress-spinner style="margin-top:-34%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>
  
