<div>
  <mat-card>Select WIPbins <p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>
  <div class="lineLbl">
    <mat-label>Line WIPbins whose</mat-label>
  </div>
  <!-- <table class="radioBtn">
    <tr>
      <td>
        <mat-radio-group>
          <mat-radio-button>New</mat-radio-button>

          <span class="rename">
            <mat-radio-button>Rename/Update</mat-radio-button>
          </span>

          <span class="delete">
            <mat-radio-button>Delete</mat-radio-button>
          </span>
        </mat-radio-group>
      </td>
    </tr>
  </table> -->
  <table class="optionTable">
    <tr>
      <td class="caseTd">
        <mat-form-field class="case">
          <mat-select [(ngModel)]="titleValue">
            <mat-option *ngFor="let selectCase of titleCase" [value]="selectCase">{{selectCase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="subCaseTd">
        <mat-form-field class="subCase">
          <mat-select [(ngModel)]="selectSubValue">
            <mat-option *ngFor="let selectSubcase of subCase" [value]="selectSubcase">{{selectSubcase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="inputTd">
        <mat-form-field class="input">
          <input matInput [(ngModel)]="qryInput" type="text">
        </mat-form-field>
      </td>
      <td class="sortTd">
        <mat-form-field class="sortOption">
          <mat-select [(ngModel)]="selectedSortOption">
            <mat-option *ngFor="let selectSort of sortOptions" [value]="selectSort">{{selectSort}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td><button mat-raised-button color="primary" (click)="getWipBins();" class="listBtn" mat-button>List</button></td>
    </tr>
  </table>
  <div class="tableBorder">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

      <!-- Position Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="th"> Title </th>
        <td mat-cell class="td" *matCellDef="let tableWipbin"> {{tableWipbin.title}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="idNumber">
        <th mat-header-cell *matHeaderCellDef class="th thEight"> Description </th>
        <td mat-cell class="td tdEight" *matCellDef="let tableWipbin"> {{tableWipbin.description}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns;" (dblclick)="openWipbinDialog()"
        [ngClass]="{'highlight': selectedTyp == row}" (click)="setClickedRow(row)"></tr>
    </table>
  </div>
  <table>
    <tr>
      <td class="itemTd">
        <mat-form-field class="itemsInpt">
          <input [disabled]="true" readonly matInput type="text" [(ngModel)]="selectWipbin.length">
        </mat-form-field>
        <mat-label>Items</mat-label>
      </td>
      <td class="newTd"><button mat-raised-button (click)="newWipbinDialog()" color="primary" class="newBtn" mat-button [disabled]="empRole.dslLimited" >New</button></td>
      <td class="openTd"><button mat-raised-button [disabled]="disabledButton" (click)="openWipbinDialog()" color="primary" class="newBtn" mat-button>Open</button></td>
      <td class="deleteTd"><button mat-raised-button [disabled]="disabledButton" (click)="deleteWipbin()" color="primary" class="newBtn" mat-button>Delete</button></td>
      <td class="doneTd"><button mat-raised-button color="primary"(click)="closeDialog()" class="newBtn" mat-button>Done</button></td>
    </tr>
  </table>
</div>


































































<!-- <div>
  <mat-card>Select WIPbins<p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>
  <div class="lineLbl">
    <mat-label>Line WIPbins whose</mat-label>
  </div>
  <table class="radioBtn">
    <tr>
      <td>
        <mat-radio-group>
          <mat-radio-button>New</mat-radio-button>

          <span class="rename"><mat-radio-button>Rename/Update</mat-radio-button></span>

          <span class="delete"><mat-radio-button>Delete</mat-radio-button></span>
        </mat-radio-group>
      </td>
    </tr>
  </table>
  <table class="optionTable">
    <tr>
      <td class="caseTd">
        <mat-form-field class="case">
          <mat-select [(ngModel)]="titleValue">
            <mat-option *ngFor="let selectCase of titleCase" [value]="selectCase">{{selectCase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="subCaseTd">
        <mat-form-field class="subCase">
          <mat-select [(ngModel)]="selectSubValue">
            <mat-option *ngFor="let selectSubcase of subCase" [value]="selectSubcase">{{selectSubcase}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="inputTd">
        <mat-form-field class="input">
          <input matInput type="text">
        </mat-form-field>
      </td>
      <td class="sortTd">
        <mat-form-field class="sortOption">
          <mat-select [(ngModel)]="selectedSortOption">
            <mat-option *ngFor="let selectSort of sortOptions" [value]="selectSort">{{selectSort}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td><button mat-raised-button color="primary" class="listBtn" mat-button>List</button></td>
    </tr>
  </table>
  <div class="tableBorder">

  </div>
  <table>
    <tr>
      <td class="itemTd">
        <mat-form-field class="itemsInpt">
          <input matInput type="text">
        </mat-form-field>
        <mat-label>Items</mat-label>
      </td>
      <td class="newTd"><button mat-raised-button color="primary" class="newBtn" mat-button>New</button></td>
      <td class="openTd"><button mat-raised-button color="primary" class="newBtn" mat-button>Open</button></td>
      <td class="deleteTd"><button mat-raised-button color="primary" class="newBtn" mat-button>Delete</button></td>
      <td class="doneTd"><button mat-raised-button color="primary" class="newBtn" mat-button>Done</button></td>
    </tr>
  </table>
</div> -->