<div>
    <span>
        <label>Commit D/T &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>&nbsp;&nbsp;
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>
        <button class="dtButton" mat-raised-button color="primary">D/T</button>
    </span>
    <span style="float:right">
        <label>Original Commitment Date:</label>&nbsp;&nbsp;
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </span>
</div>
<div>
    <span>
        <label>Prior Warning &nbsp;&nbsp;&nbsp;:</label>&nbsp;&nbsp;
        <mat-form-field>
            <input matInput>
        </mat-form-field>
    </span>

    <span style="float:right">
        <label>Create Date:</label>
        <mat-form-field>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </span>
</div><br>
<div>
    <label>Commitment made</label>
    <span class="toRadio">
        <mat-radio-button checked="{{isItChecked}}" value="1">to</mat-radio-button>
    </span>
    <span class="byRadio">
        <mat-radio-button value="2">by</mat-radio-button>
    </span>
    <span class="actualDate">
        <label>Actual Date:</label>
        <mat-form-field>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
    </span>
</div>&nbsp;&nbsp;
<div>
    <mat-form-field>
        <input matInput>
    </mat-form-field>
    <span>
        <button class="changeContact" mat-raised-button color="primary">Change Contact</button>
    </span>
    <span class="actionType">
        <label>Action Type:</label>&nbsp;
        <mat-form-field>
            <mat-select [(value)]="selected">
                <mat-option value="option1">earlier than</mat-option>
                <mat-option value="option2">later than</mat-option>
            </mat-select>
        </mat-form-field>
    </span>
</div>
<div>
    <table>
        <tr>
            <td>
                <label>Originator:</label>
                <mat-form-field>
                    <input matInput>
                </mat-form-field>
            </td>
            <td class="titleSelect">
                <label>Title:</label>
                <mat-form-field>
                    <mat-select [(value)]="selected">
                        <mat-option value="option1">earlier than</mat-option>
                        <mat-option value="option2">later than</mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td class="inputField">
                <mat-form-field>
                    <input matInput placeholder="Receive HSIA FOC Date">
                </mat-form-field>
            </td>
        </tr>
    </table>
   </div>

<div>
    <fieldset class="adjust">
        <legend>On Hold Reasons</legend>
        <label>Organization/Function:</label>
        <span style="margin-left:10%">
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </span><br>
        <label>Problem Description &nbsp;&nbsp;&nbsp;:</label>
        <span style="margin-left:10%">
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </span><br>
        <label>Location Information &nbsp;&nbsp;:</label>
        <span style="margin-left:10%">
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </span><br>
        <label>Information Status &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
        <span style="margin-left:10%">
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </span><br>
        <label>Task Workable &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label>
        <span style="margin-left:10%">
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </span>
        <div class="jepCode">
            <label>Jep Code &nbsp;&nbsp;:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <mat-form-field>
                <input matInput>
            </mat-form-field>
        </div>
    </fieldset>
</div><br>
<div>
    <div>
        <span class="commitLevel">
            Commitment:
        </span>
        <span>
            <textarea class="commitment">

                </textarea>
        </span>
    </div>
    <div>
        <label>Commitment History:&nbsp;&nbsp;</label>
        <textarea class="commitHistory">

              </textarea>
    </div>
    <div class="btnGroup">
        <button class="btn" mat-raised-button color="primary">Chascade</button>
        <button class="btn" mat-raised-button color="primary">Make</button>
        <button class="btn" mat-raised-button color="primary">Previous</button>
        <button class="btn" mat-raised-button color="primary">Next</button>
        <button class="btn" mat-raised-button color="primary">Fulfill</button>
        <button class="btn" mat-raised-button color="primary">Done</button>
    </div>




</div>