.mat-tab-body.mat-tab-body-active {
  position: relative;
  overflow-x: hidden;
  
}
.titleSelect{
  margin-left: 4%;
}
.inputField{
  margin-left: 9%;
}
p{
    padding: 10px;
  }
  .grid-container {
    margin-left: 5px;
    width: 99.5%;
    height: 300px;
    overflow: auto; 
    border: 1px solid black;  
  }
  table.mat-elevation-z8{
    width: 100%;
  }
  .sideRight{
    float: right;
    margin-right: 150px;
  }
  .sideMiddle{
    margin-left: 24%;
  }
  .sideLeft{
    margin-left: 1%;
  }
  .side{
    float:right;
    margin-right: 100px;
  }
  
  
  .result-row:hover {
    background-color: #BBDEFB;
    
  }
  
  .datatable> ::ng-deep figure {
    justify-content: flex-start !important;
  }
  
  mat-grid-tile {
    justify-content: start;
  }
  
  .datatable{
    overflow-y:auto;
  }
  #table1{
    width: 55%;
    margin-left: 35.5%;
    
  }
  .buttonRight{ 
   float: right;
  }
  .highlight{
    background:#BBDEFB;
    color: white;
  }
  .ftable
  {
    width: 100%; 
    border: 1px solid blue;
  }
  .ftd{
  
    width: 50%;
  }
  .ftd2{
    width:10%;
  } 
  .dtButton{
    width: 80px;
  }
  .toRadio{
    margin-left: 18%;
  }
  .byRadio{
    margin-left: 15%;
  }
  .changeContact{
    width: 150px;
    margin-left: 11%;
  }
  .actualDate{
    float: right;
    margin-top: -1%;
  }
  .actionType{
    float: right;
    margin-left: 50%;
    margin-top: -4%;
  }
  
  .adjust{
    width: 70%;
    margin-top: -1%;
  }
  textarea,.commitment{
    width: 60.8%;
    height: 100px;
    margin-left: 4%;
    max-width: 60.8%;
    max-height:100px;
  }
  textarea,.commitHistory{
    width: 60.8%;
    height: 100px;
    margin-left: 4.5px;
    max-width: 60.8%;
    max-height:100px; 
  }
  .commitLevel{
    margin-top: 10%;
  }
  .jepCode{
    position: absolute;
    left:50%;
    top:67%;
  }
  .btnGroup{
    position: absolute;
    left: 83%;
    top: 36%;
  }
  .btn{
    display: block;
    margin-top: 25%;
  }
