<div class="container">
  <mat-card> Select Address <p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>


  <div class="ListBle">
    List Addresses Whose
  </div>
  <table>
    <tr>
      <td class="addressTd">
        <mat-form-field class="custDrop">
          <mat-select [(ngModel)]="fieldName">
            <mat-option *ngFor="let addressOption of addressDropdown" [value]="addressOption">{{addressOption}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="addressTd">
        <mat-form-field class="custDrop">
          <mat-select [(ngModel)]="operator">
            <mat-option *ngFor="let sortOpt of sortOption" [value]="sortOpt">{{sortOpt}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="inptTd">
        <mat-form-field class="intptLbl">
          <input matInput [(ngModel)]="fieldValue" type="text">
        </mat-form-field>
      </td>
      <td class="listBtnTd">
        <button mat-raised-button color="primary" (click)="loadSelectAddressData()" class="listBtn" mat-raised-button>List</button>
      </td>
      <td class="addressTd">
        <mat-form-field class="sorttDrop">
          <mat-select [(ngModel)]="sortby">
            <mat-option *ngFor="let subOpt of subOption" [value]="subOpt">{{subOpt}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <div class="tableData">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

      <ng-container matColumnDef="address">
        <th mat-header-cell class="th" *matHeaderCellDef> Address </th>
        <td mat-cell class="td" *matCellDef="let selectAddress"> {{selectAddress.address}} </td>
      </ng-container>

      <ng-container matColumnDef="city">
        <th mat-header-cell class="th" *matHeaderCellDef> City </th>
        <td mat-cell class="td" *matCellDef="let selectAddress"> {{selectAddress.city}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell class="th" *matHeaderCellDef> State </th>
        <td mat-cell class="td" *matCellDef="let selectAddress"> {{selectAddress.state}} </td>
      </ng-container>

      <ng-container matColumnDef="country">
        <th mat-header-cell class="th" *matHeaderCellDef> Country </th>
        <td mat-cell class="td" *matCellDef="let selectAddress"> {{selectAddress.country}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns;  let index = index"
        [ngClass]="{'highlight': selectedAddress == row}" (click)="setClickedRow(row, index)"></tr>

    </table>
    <mat-progress-spinner style="margin-top:-24%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<table>
  <tr>
    <td class="btnGrp">
      <mat-form-field class="items">
        <input disabled matInput [value]='selectAddress.length'>
      </mat-form-field>
      <label>Items</label>
    </td>
    <td class="btnGrp">
      <button mat-raised-button color="primary" (click)="useOrDone()" class="useBtn" mat-raised-button>Use/Done</button>
    </td>
    <td class="btnGrp">
      <button mat-raised-button color="primary" (click)="openNewAddress()" class="newBtn" mat-raised-button>New</button>
    </td>
    <td class="btnGrp">
      <button mat-raised-button color="primary" [disabled]="desibledButton" (click)="openAddressDetails()"
        class="openBtn" mat-raised-button>Open</button>
    </td>
    <td class="btnGrp">
      <button mat-raised-button color="primary" class="listBtn" (click)="closeDialog()" mat-raised-button>Done</button>
    </td>
  </tr>
</table>
