.w3-teal, .w3-hover-teal:hover {
    color: #fff !important;
    background-color: #3f51b5;
    margin-left: -6.6%;
    width: 111.5%;
    margin-top: -6.9%;
    padding-left: 6.8px;
    padding-top: 8px;
    height: 24px;
}
.foterBtn{
    background: navy;
    color: white;
}
.noBtn{
    float: right;
}
footer{
    
}
.body{
    margin-bottom: 7%;
    margin-top: 6%;
    font-size: 15px;
    font-weight: 400;
}
footer{
    margin-bottom: -5%;
    margin-left: 31.5%;
}
.close{
    cursor: pointer;
    float: right;
    padding-right: 8px;
}
