mat-card{
    background: #3f51b5;
    color: white;
    margin-top: -1.8%;
    width: 103%;
    margin-left: -1.8%;
    padding: 0.3%;
}
/* table,tr,td{
    border: 1px solid gray;
} */
table{
    width: 100%;
}
textarea{
    width: 97%;
    height: 100px;
    resize: none;
    background: fixed no-repeat;
}
div.tableFieldset{
    width: 98%;
}
.warningText{
    margin-top:-2%;
}
mat-label.prlotaje{
    margin-left: 3%;
}
mat-form-field.infoSts{
    margin-left: 10%;
}
mat-form-field.organization{
    margin-left: 3%;
}
mat-form-field.taskWork{
    margin-left: 13%;
}
mat-form-field.problemDes{
    margin-left: 3%;
}
mat-form-field.locationInfo{
    margin-left: 3%;
}
mat-form-field.jepCode{
    margin-left: 13%;
}
mat-form-field.titleDrop{
    margin-left: 9.5%;
}
mat-form-field.titleInp{
    width: 100%;
    margin-left: -60%;
    margin-top: -3%;
}
mat-form-field.commitDt{
    width: 75%;
    margin-left: 3%;
}
mat-form-field.originalCommitDate{
    margin-left: 2%;
    width: 35%;
}
td.createDate{
    float: right;
}
fieldset{
    border-width: 0.4px;
}