<div>
  <mat-card>Case {{caseId}}: View IPs <p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>
  <div class="viewIpLbl">
    <mat-label>View IP Table: </mat-label>
  </div>
  <div class="container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

      <ng-container matColumnDef="caseId">
        <th mat-header-cell class="th" *matHeaderCellDef> Case ID</th>
        <td mat-cell class="td" *matCellDef="let viewIp"> {{viewIp.idNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="lanSubnet">
        <th mat-header-cell class="th" *matHeaderCellDef> LAN Subnet </th>
        <td mat-cell class="td" *matCellDef="let viewIp"> {{viewIp.lanSubnet}} </td>
      </ng-container>

      <ng-container matColumnDef="lanEu">
        <th mat-header-cell class="th" *matHeaderCellDef> LAN EU </th>
        <td mat-cell class="td" *matCellDef="let viewIp"> {{viewIp.lanEndUserIp}} </td>
      </ng-container>

      <ng-container matColumnDef="availableIpFrom">
        <th mat-header-cell class="th" *matHeaderCellDef> Available IP From </th>
        <td mat-cell class="td" *matCellDef="let viewIp"> {{viewIp.ipFrom}} </td>
      </ng-container>

      <ng-container matColumnDef="availableIpTo">
        <th mat-header-cell class="th" *matHeaderCellDef> Available IP To </th>
        <td mat-cell class="td" *matCellDef="let viewIp"> {{viewIp.ipTo}} </td>
      </ng-container>

      <ng-container matColumnDef="ipStatus">
        <th mat-header-cell class="th" *matHeaderCellDef> IP Status </th>
        <td mat-cell class="td" *matCellDef="let viewIp"> {{viewIp.ipStatus}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="{'highlight': selectedTyp == row}" (click)="highlight(row)" (click)="setClickedRow(row)"></tr>

    </table>
  </div>
  <table class="btnTbl">
    <tr>
      <td>
        <button color="primary" (click)="closeDialog()" class="donBtn" mat-raised-button>Done</button>
      </td>
    </tr>
  </table>
</div>