<mat-card>Reject - Forward<span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<div class="divOne">
    <div>
        <mat-label>Case ID: </mat-label>
        <mat-form-field class="idInput">
            <input matInput disabled [value]="caseInfo.caseId">
        </mat-form-field>
    </div>
    <div>
        <mat-label>Title: </mat-label>
        <mat-form-field class="titleInput">
            <input matInput disabled [value]="caseInfo.title">
        </mat-form-field>
    </div>
    <mat-radio-button (click)="queueTable()"></mat-radio-button>Forward<br><br>
    <mat-radio-button (click)="sender()" checked></mat-radio-button>Return to Sender
</div>
<div class="queueTable" *ngIf="showTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>
        <ng-container matColumnDef="Forward to Queue">
            <th mat-header-cell *matHeaderCellDef> Forward to Queue </th>
            <td mat-cell *matCellDef="let queue"> {{queue.title}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedAct == row}"
            (click)="setClickedRow(row)">
        </tr>
    </table>
</div>
<div>
    <mat-label *ngIf="!showTable">Reason for Return to Sender</mat-label>
    <mat-label *ngIf="showTable">Reason for Forward</mat-label><br>
    <textarea [(ngModel)]="reason"></textarea>
</div>
<br>
<div>
    <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
    <button class="senderBtn" *ngIf="!showTable" mat-raised-button color="primary" (click)="returnToSender()">Return to Sender</button>
    <button class="senderBtn" *ngIf="showTable" [disabled]="selectedAct == null" mat-raised-button color="primary" (click)="forward()">Forward</button>
</div>