mat-card{
  background: #3f51b5;
  color: white;
  margin-top: -4%;
  width: 103%;
  margin-left: -4%;
  padding: 2%;
}
table.mat-elevation-z8{
    width: 100%;
  }
  tr.mat-row{
    height: 25px;
  }
  th{
    text-align: center;
    font-size: 15px;
    background-color: #3f51b5;
    color:white;
    height: 20%;
    text-align: center;
  }
  .queryTable{
    height: 310px;
    width: 77%;
    overflow: auto; 
    border: 1px solid black;  
  }
 
  tr.mat-header-row{
    height: 25px;
}
.btnGroup{
    float: right;
    left: 65%;
    margin-top: -43%;
  }
  .queryBtn{
    left: 333%;
  }
  .btn{
    display: block;
    margin-top: 15%;
  }
  .queryLabel{
      margin: 36%;
  }
  .queryInput{
    width: 200%;
  }
  