
mat-card{
    background: #3f51b5;
    color: white;
    width: 103.2%;
    padding: 8px;
    margin-left: -2.5%;
    margin-top: -2.2%;
}

tr.mat-row:nth-child(odd){
    background: #f2f2f2;
}

tr.mat-row.highlight{
    background:#BBDEFB;
    color: white;
}
tr.mat-header-row{
    height: 25px;
}
th{
    font-size: 15px;
    background-color: #3f51b5;
    color: white;
}
.contactLbl{
    margin-top: 1%;
}
.seltContInpt{
    width: 98%;
}
.nameTable{
    margin-top: -1%;
}
.siteTbl{
    margin-top: -2%;
}
.idNameInpt{
    width: 25%;
}
.seltContInptLname{
    width: 98%;
    float: right;
}
.seltContInpt1{
    margin-right: 2%;
    width: 35%;
    float: right;
}
.gName{
    margin-top: 0%;
}
.sitInpt{
    width: 98%;
}

.sitInpt2{
    float: right;
    margin-right: 2%;
    width: 25%;
}
.sitInpt1{
    float: right;
    width: 98%;
}
.selectLbl{
    margin-left: 1%;
}
.selectLbl2{
    margin-left: 1%;
    margin-top: -2%;
}
.selectLbl3{
    margin-left: 1%;
    margin-top: -2%;
}
.selectData{
    height: 260px;
    width: 100%;
    border: 1px solid gray;
    overflow: auto;
}
.mat-elevation-z8{
    width: 100%;
    text-align: center;
}
th.mat-header-cell{
    font-size: 15px;
    color: white;
    text-align: center;
}
.selectInpBtn{
    margin-left: 1%;
    width: 5%;
}
.item{
    margin-left: 1%;
}
.btnGrp{
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}
 .btnAln{
    margin-right: 11%;
} 
.listBtn{
    float: right;
}
.selectOpt{
    width: 38%;
}
.sortLbl{
    float: right;
}
  th.mat-header-cell{
      font-size: 11px;
  }
  table{
      width: 100%;
  }
.nameTd{
    width: 18.5%;
}
.td{
    border-right: 1px solid #0000001f;
    padding: 5px;
}
.th {
    border-right: 1px solid #0000001f;
    padding-left: 4px;
}
tr.mat-row{
    height: 35px;
}

