<div>
  <mat-card>Case {{caseId}}: Select Contacts<p (click)="closeDialog()" class="close">&times;</p></mat-card>
</div>
<div class="contactLbl">
  <mat-label>List contacts whose:</mat-label>
</div>
<table class="nameTable">
  <tr>
    <td class="nameTd">
      <mat-label>Contact Name(F/L):</mat-label>
    </td>
    <td>
      <mat-form-field class="seltContInpt">
        <input matInput [(ngModel)]="firstName" type="text">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="seltContInptLname">
        <input matInput [(ngModel)]="lastName" type="text">
      </mat-form-field>
    </td>
  </tr>
</table>
<table class="siteTbl">
  <tr>
    <td class="nameTd">
      <mat-label>Site ID/Name:</mat-label>
    </td>
    <td class="idNameInpt">
      <mat-form-field  class="sitInpt">
        <input matInput [(ngModel)]="siteId" type="text">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="sitInpt1">
        <input matInput [(ngModel)]="siteName" type="text">
      </mat-form-field>
    </td>
  </tr>
</table>
<table class="siteTbl">
  <tr>
    <td class="nameTd">
      <mat-label>Org ID/Name:</mat-label>
    </td>
    <td class="idNameInpt">
      <mat-form-field class="sitInpt">
        <input matInput [(ngModel)]="orgId" type="text">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="sitInpt1">
        <input matInput [(ngModel)]="orgName" type="text">
      </mat-form-field>
    </td>
  </tr>
</table>
<table class="siteTbl">
  <tr>
    <td class="nameTd">
      <mat-checkbox [(ngModel)]="contactStatus">Include inactive contacts</mat-checkbox>
    </td>
    <td>
      <mat-label class="sortLbl">Sort By: </mat-label>
    </td>
    <td>
      <mat-form-field class="selectOpt">
        <mat-select [(ngModel)]="sortOptionValue">
          <mat-option *ngFor="let sortOpt of sortOption" [value]="sortOpt">{{sortOpt}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="selectOpt">
        <mat-select [(ngModel)]="subOptionValue">
          <mat-option *ngFor="let subOpt of subOption" [value]="subOpt">{{subOpt}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    <td>
      <button  mat-raised-button color="primary" class="listBtn" (click)="loadContactData()" mat-raised-button>List</button>
    </td>
  </tr>
</table>

<div class="selectData">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>


    <ng-container matColumnDef="firstName">
      <th mat-header-cell class="th" *matHeaderCellDef> First Name </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell class="th" *matHeaderCellDef> Last Name </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.lastName}} </td>
    </ng-container>


    <ng-container matColumnDef="phoneExt">
      <th mat-header-cell class="th" *matHeaderCellDef> Phone Ext</th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.phone}} </td>
    </ng-container>


    <ng-container matColumnDef="siteId">
      <th mat-header-cell class="th" *matHeaderCellDef> Site ID </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.siteId}} </td>
    </ng-container>

    <ng-container matColumnDef="siteName">
      <th mat-header-cell class="th" *matHeaderCellDef> Site Name </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.site}} </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell class="th" *matHeaderCellDef>City </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.city}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell class="th" *matHeaderCellDef> State </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.state}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell class="th" *matHeaderCellDef>Country </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.country}} </td>
    </ng-container>

    <ng-container matColumnDef="contactRole">
      <th mat-header-cell class="th" *matHeaderCellDef> Contact Role </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.roleName}} </td>
    </ng-container>

    <ng-container matColumnDef="siteType">
      <th mat-header-cell class="th" *matHeaderCellDef> Site Type </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.siteType}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell class="th" *matHeaderCellDef> Status </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.status}} </td>
    </ng-container>

    <ng-container matColumnDef="orgId">
      <th mat-header-cell class="th" *matHeaderCellDef> Organization ID </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.orgId}} </td>
    </ng-container>
    <ng-container matColumnDef="orgName">
      <th mat-header-cell class="th" *matHeaderCellDef> Organization Name </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.orgName}} </td>
    </ng-container>
    <ng-container matColumnDef="accId">
      <th mat-header-cell class="th" *matHeaderCellDef> Account ID </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.orgId}} </td>
    </ng-container>

    <ng-container matColumnDef="accName">
      <th mat-header-cell class="th" *matHeaderCellDef> Account Name </th>
      <td mat-cell class="td" *matCellDef="let selectContact"> {{selectContact.orgName}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns; let index = index"
     [ngClass]="{'highlight': selectedContact == row}" (click)="setClickedRow(row, index)"></tr>
  </table>
</div>
<div>
  <mat-form-field class="selectInpBtn">
    <input matInput disabled [value]="selectContact.length">
  </mat-form-field>
  <mat-label class="item">Items</mat-label>
  <span>
    <button mat-raised-button color="primary" (click)="closeDialog()" class="btnGrp" mat-raised-button>Done</button>
    <button mat-raised-button color="primary" (click)="newContactDetails()" class="btnGrp btnAln" mat-raised-button>New</button>
    <button mat-raised-button color="primary" class="btnGrp btnAln" (click)="openContactDetails()" [disabled]="desibledButton" mat-raised-button>Open</button>
    <button mat-raised-button color="primary" class="btnGrp btnAln" (click)="sendCaseInfoDataToMainScreen()" mat-raised-button>Use/Done</button>
  </span>
</div>
<mat-progress-spinner style="margin-top:-24%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>