<mat-card> SIID & Product Package <p (click)="closeDialog()" class="close">&times;</p> </mat-card>
<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

    <!-- Position Column -->
    <ng-container matColumnDef="advance">
      <th mat-header-cell *matHeaderCellDef class="th"> Advance </th>
      <td mat-cell class="td" *matCellDef="let selectQueues"> {{selectQueues.advanceFlag}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef class="th thEight"> Service Instance ID </th>
      <td mat-cell class="td tdEight" *matCellDef="let selectQueues"> {{selectQueues.siid}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="emf">
      <th mat-header-cell *matHeaderCellDef class="th thSeven"> EMF</th>
      <td mat-cell class="td tdSeven" *matCellDef="let selectQueues"> {{selectQueues.emfCode}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef class="th thSeven"> Product Pkg Description</th>
      <td mat-cell class="td tdSeven" *matCellDef="let selectQueues"> {{selectQueues.pppDescription}} </td>
    </ng-container>

    <ng-container matColumnDef="prodpak">
      <th mat-header-cell *matHeaderCellDef class="th thSeven"> Prod Pkg Code</th>
      <td mat-cell class="td tdSeven" *matCellDef="let selectQueues"> {{selectQueues.productPkg}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="th thSeven"> Status</th>
      <td mat-cell class="td tdSeven" *matCellDef="let selectQueues"> {{selectQueues.status}} </td>
    </ng-container>

    <ng-container matColumnDef="startdate">
      <th mat-header-cell *matHeaderCellDef class="th thSeven"> Start Date</th>
      <td mat-cell class="td tdSeven" *matCellDef="let selectQueues"> {{selectQueues.startDate}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns;"
    [ngClass]="{'highlight': selectedTyp == row}"
      (click)="setClickedRow(row)"></tr>
  </table>
</div>
<table>
  <tr>
    <td class="siidLbl">
      <mat-label>SIID/EMF Code: </mat-label>
    </td>
    <td siidInpt>
      <mat-form-field>
        <input matInput [(ngModel)]="selectedTyp.emfCode" type="text">
      </mat-form-field>
    </td>
    <td class="productLbl">
      <mat-label>Product Package Code: </mat-label>
    </td>
    <td class="productInpt">
      <mat-form-field>
        <input matInput [(ngModel)]="selectedTyp.productPkg" type="text">
      </mat-form-field>
    </td>
    <td class="statusDrop">
      <mat-form-field class="title">
        <mat-select [(ngModel)]="selectedTyp.status" placeholder="Status">
          <mat-option *ngFor="let selectStatus of statusDropdown" [value]="selectStatus">{{selectStatus}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </tr>
</table>
<table class="descTbl">
  <tr>
    <td class="descTd">
      <mat-label>Product Package Description: </mat-label>
    </td>
    <td class="descInpt">
      <mat-form-field class="inptDisc">
        <input matInput  [(ngModel)]="selectedTyp.pppDescription"  type="text">
      </mat-form-field>
    </td>
    <td class="btnTd"><button (click)="replaceSiid()" color="primary" class="siidBtn" mat-raised-button>REPLACE SIID</button></td>
  </tr>
</table>
