<mat-card>Yank <span class="close" (click)="onCancelClick()">&times;</span></mat-card>
<div class="enterId">
  <label>Enter Case ID:</label>
</div>
<br>
<!-- <div>
  <mat-label class="lblTyp">Type:</mat-label>
  <mat-form-field class="yankDrop">
    <mat-select [(ngModel)]="SelectCase">
      <mat-option *ngFor="let drop of selectDrop" [value]="drop">{{drop}}</mat-option> 
    </mat-select>
  </mat-form-field>
</div> -->
<div class="cancelRow">
  <mat-label class="lblId">ID:</mat-label>
  <mat-form-field class="yankInpt">
    <input matInput [(ngModel)]="selectedCaseId" type="text"> 
  </mat-form-field>
</div>
<div>
  <button class="cancelBtn" color="primary" mat-raised-button (click)="onCancelClick()">Cancel</button>
  <button class="yankBtn" color="primary" mat-raised-button (click)="onYankClick()">Yank</button>
</div>

































