<mat-card>Select Commitments<span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<div>
  List Commitments whose
  <mat-label class="planner">Planner:</mat-label>
  <mat-form-field class="plannerText">
    <input matInput [(ngModel)]="hsiaInfo.tmplteName" disabled>
  </mat-form-field>
</div>
<div>
  <table>
    <tr>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="firstOrderSelected" (ngModelChange)=setDefault($event)>
            <mat-option *ngFor="let firstOrder of firstOrders" [value]="firstOrder">{{firstOrder}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="secondOrderSelected">
            <mat-option *ngFor="let secondOrder of secondOrders" [value]="secondOrder">{{secondOrder}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field *ngIf="firstOrderSelected != 'Commit Date'">
          <input matInput [(ngModel)]="userTextInput">
        </mat-form-field>
        <mat-form-field *ngIf="firstOrderSelected == 'Commit Date';">
          <input matInput [matDatepicker]="picker" [(ngModel)]="userInput">
          <mat-datepicker-toggle matSuffix [for]="picker" [disabled]="firstOrderSelected != 'Commit Date'">
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="thirdList">
            <mat-option *ngFor="let thirdOrder of thirdOrders" [value]="thirdOrder">{{thirdOrder}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button mat-raised-button color="primary" (click)="showListClick()">List</button>
      </td>
    </tr>
  </table>
</div><br><br>
<!--Mat Table-->
<div class="grid-container">
  <div class="data-table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>
      <ng-container matColumnDef="Title">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Title </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.title}} </td>
      </ng-container>

      <ng-container matColumnDef="Warning Date">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Warning Date </th>
        <td class="table-date" mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.warningTime | toLocalTime}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Commit Date">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Commit Date </th>
        <td class="table-date" mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.schedCmpltime | toLocalTime}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Condition">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Condition </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe">
          <span [hidden]="!(selectCommit.condition == 4)">Closed</span>
          <span [hidden]="!(selectCommit.condition == 2)">Open</span>
          <span [hidden]="!(selectCommit.condition == 3)">NewOpen</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Original Date">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Original Date </th>
        <td class="table-date" mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xOrigTime | toLocalTime}} </td>
      </ng-container>

      <ng-container matColumnDef="Complete Date">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Complete Date </th>
        <td class="table-date" mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.actCmpltime | toLocalTime}}
        </td>
      </ng-container>
      <ng-container matColumnDef="Organization/Function">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Organization/Function </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xJeopardy}} </td>
      </ng-container>
      <ng-container matColumnDef="Problem Description">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Problem Description </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xJeopardy2}} </td>
      </ng-container>
      <ng-container matColumnDef="Location Information">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Location Information </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xJeopardy3}} </td>
      </ng-container>
      <ng-container matColumnDef="Information Status">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Information Status </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xJeopardy4}} </td>
      </ng-container>
      <ng-container matColumnDef="Task Workable">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Task Workable </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xJeopardy1_5}} </td>
      </ng-container>
      <ng-container matColumnDef="Offset">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Offset </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xOffsetLoi}} </td>
      </ng-container>
      <ng-container matColumnDef="Jeop Date 3">
        <th mat-header-cell *matHeaderCellDef class="stripe"> Jeop Date 3 </th>
        <td mat-cell *matCellDef="let selectCommit" class="stripe"> {{selectCommit.xJepSum3}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let index = index" (dblclick)="openCommitment();"
        [ngClass]="{'highlight': selectedAct == row}" (click)="setClickedRow(row,index)">
      </tr>
    </table>
  </div>
</div><br>
<div>
  <table class="buttonGroup">
    <tr>
      <td><b>Items: </b>{{selectCommitment.length}}</td>
      <td><button class="deleteRecord" mat-raised-button color="primary" (click)="delete()"
          [disabled]="deleteDisabled || (empRole.dslGeneral || empRole.dslBilling || empRole.dslLimited)">Delete
          Record</button></td>
      <td><button class="reset" mat-raised-button color="primary" (click)="reset()"
          [disabled]="resetDisabled  || (empRole.dslGeneral || empRole.dslBilling || empRole.dslLimited)">Reset</button></td>
      <td><button class="fullfillDate" mat-raised-button color="primary" (click)="fullFillDate()"
          [disabled]="fullFillDateDisabled">Fulfill Date</button></td>
      <td><button class="new" mat-raised-button color="primary" (click)="newCommitment()">New</button></td>
      <td><button class="new" mat-raised-button color="primary" (click)="openCommitment()"
          [disabled]="openDisabled">Open</button></td>
      <td><button class="done" (click)="cancelDialog()" mat-raised-button color="primary">Done</button></td>
    </tr>
  </table>
</div>

<mat-progress-spinner style="margin-top:-24%;left: 45%;z-index:125;" *ngIf="isLoading" color="success"
  mode="indeterminate"></mat-progress-spinner>