<mat-card>Accept<span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<div><label>Select Destination WIPbin:</label></div><br>
<div class="queueTable">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>
    <ng-container matColumnDef="My WIPbins">
      <th mat-header-cell *matHeaderCellDef> My WIPbins </th>
      <td mat-cell *matCellDef="let queue"> {{queue.title}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedAct == row}"
      (click)="setClickedRow(row)">
    </tr>
  </table>
</div><br>
<!-- <mat-checkbox [disabled]="isCheckDisabled">Temporary Accept</mat-checkbox> -->
<div>
  <table>
    <tr>
      <td>
        <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
      </td>
      <td>
        <button class="acceptBtn" mat-raised-button color="primary" (click)="accept()"
          [disabled]="isAcceptButtonDisabled">Accept</button>
      </td>
    </tr>
  </table>
</div>