<mat-card>CPE Information <p (click)="closeDialog()" class="close">&times;</p>
</mat-card>
<div>
  <fieldset class="container">
    <legend>Primary CPE:</legend>
    <table class="table1">
      <tr>
        <td class="labelTd">
          <mat-label>Snipping Tracking #</mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.cpeShipInfo" [disabled]="true">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Type </mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.dslRouterType" [disabled]="true">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Login </mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.dslRouterLogin">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Password</mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.dslRouterPassword">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Serial #</mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.dslRouterSerialNum" [disabled]="true">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </fieldset>

  <fieldset class="container2">
    <legend>Secondary CPE:</legend>

    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Type </mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.secondaryCpeType" [disabled]="true">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Login </mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.secondaryCpeLogin">
          </mat-form-field>
        </td>
      </tr>
    </table>

    <table class="table2">
      <tr>
        <td class="labelTd">
          <mat-label>CPE Password</mat-label>
        </td>
        <td>
          <mat-form-field class="inpt">
            <input matInput type="text" [(ngModel)]="serviceInfo.secondaryCpePassword">
          </mat-form-field>
        </td>
      </tr>
    </table>
  </fieldset>
  <br>
  <div>
    <table>
      <tr>
        <td class="center-td"><button mat-raised-button color="primary" (click)="saveCpeInfo()">Save</button></td>
        <td class="center-td"><button mat-raised-button color="primary" (click)="closeDialog()">Done</button></td>
      </tr>
    </table>
  </div>
</div>