<h6 mat-dialog-title class="headerTitle">
  Case Info: More Details
  <span class="close" (click)="closeDialog()">&times;</span>
</h6>

<div mat-dialog-content>
  <table class="projectTbl nthChild">
    <tr>
      <td class="projectTd"><label>Project #: </label></td>
      <td>
          <mat-form-field class="project">
            <input matInput [(ngModel)]="details.tableCase.xprojectNum" [disabled]="!details.isNew || empRole.dslLimited"> 
          </mat-form-field>
      </td>
    </tr>
  </table>

      <table class="allTbl">
        <tr>
          <td class="priorityTd"><label>Priority/ Severity: </label></td>
          <td>
              <mat-form-field class="prioritySeverity">
                  <mat-select [(value)]="details.tableGbstElmPrty.title" [disabled]="(!details.caseYanked && !details.isNew) || empRole.dslLimited">
                    <mat-option *ngFor="let prioritySeverityValue of priorityAndSeverity" [value]="prioritySeverityValue">{{prioritySeverityValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="nthChild">
        <tr>
          <td class="serviceTd"><label>Service Indicator: </label></td>
          <td>
              <mat-form-field class="serviceIndicator">
                  <mat-select [(value)]="details.tableCase.xserviceIndicator" [disabled]="!details.isNew || empRole.dslLimited">
                    <mat-option *ngFor="let serviceIndicatorValue of serviceIndicators" [value]="serviceIndicatorValue">{{serviceIndicatorValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </td>
        </tr>
      </table>
              
      <table class="allTbl">
        <tr>
          <td class="salesTd"><label>Sales Offer: </label></td>
          <td>
              <mat-form-field class="salesOffer">
                  <mat-select [(value)]="details.tableSof.salesOffer" [disabled]="!details.isNew || empRole.dslLimited">
                    <mat-option *ngFor="let salesOfferValue of salesOffers" [value]="salesOfferValue">{{salesOfferValue}}</mat-option>
                  </mat-select>
                </mat-form-field> 
          </td>
        </tr>
      </table>

      <table class="nthChild">
        <tr>
          <td class="custTd"><label>Cust Qualifier: </label></td>
          <td>
              <mat-form-field class="custQualifier">
                  <mat-select [(value)]="details.tableSite.xcustSubtype" [disabled]="!details.isNew || empRole.dslLimited">
                    <mat-option class="opt" *ngFor="let custQualifierValue of custQualifiers" [value]="custQualifierValue">{{custQualifierValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="allTbl">
        <tr>
          <td class="originTd"><label>Origin: </label></td>
          <td>
              <mat-form-field class="origin">
                  <mat-select [(value)]="details.tableCase.xorigin" [disabled]="(!details.caseYanked && !details.isNew) || empRole.dslLimited">
                    <mat-option *ngFor="let originValue of origins" [value]="originValue">{{originValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="nthChild">
        <tr>
          <td class="custPreTd"><label>Cust Premises: </label></td>
          <td>
              <mat-form-field class="custPremises">
                  <mat-select [(value)]="details.tableSite.premisesLocation" [disabled]="true">
                    <mat-option *ngFor="let custPremisesValue of custPremises" [value]="custPremisesValue">{{custPremisesValue}}</mat-option>
                  </mat-select>
              </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="closeTbl">
          <tr>
            <td></td>
            <td><button class="closeBtn" mat-button (click)="closeDialog()">Close</button></td>
            <td></td>
          </tr>
        </table>
</div>

