.headerTitle{
  background-color: #3f51b5;
  color: white;
  margin-left: -24px;
  padding-left: 5px;
  margin-top: -24px;
  /* width: 108.8%; */
  width: 107.5%;
}
.mat-form-field-infix{
  /* padding-top: 0%; */
}
.nthChild{
  background: lightgray;
}
.closeTbl{
  margin-top: 2%;
}
.mat-form-field{
  height: 48px;
}
.projectTd{
  width: 29%;
}
.priorityTd{
  width: 29%;
}
.serviceTd{
  width: 29%;
}
.salesTd{
  width: 29%;
}
.custTd{
  width: 29%;
}
.originTd{
  width: 29%;
}
.custPreTd{
  width: 29%;
}

table{
  width: 100%;
}

mat-dialog-content{
    width: 40%;
}

.mat-dialog-content{
  overflow: visible;
}
.prioritySeverity{
  width: 100%;
}
.row_one,.row_three,.row_five,.row_seven{
    background-color: lightgray;
    height: 48px;
  }

  .closeBtn{
    margin-left: 41%;
    background-color: #3f51b5;
    color: white;
  }

  .project{
     width: 100%;
     margin-top: -2%;
  }
  .serviceIndicator{
     width: 100%;
     margin-top: -2%;
  }
  .salesOffer{
     width: 100%;
     margin-top: -2%;
  }
  .custQualifier{
     width: 100%;
     margin-top: -2%;
  }
  .origin{
     width: 100%;
     margin-top: -2%;
  }
  .custPremises{
     width: 100%;
     margin-top: -2%;
  }

  label{
    font-weight: bold;
  }

  .opt{
    color: black;
  }
 /*Added as per user request*/
  mat-form-field input{
    color: black;
  }

  mat-select span{
    color: black;
  }
  
  .mat-select-value-text{
    font-size: 14px;
   }
