.header-fill-remaining-space{
    flex: 1 1 auto;
}
.header-main-menu{
    position: fixed;
    top: 40px;
    height: 45px;
}

.main-sidenav-queues-wipbins {
    position: absolute;
    top:85px;
    /* height: 100%; */
    left:0;
    right:0;
    bottom:0;
    z-index: -1;
  }
  .side-nav-width-queues-wipbins{
      width: 90%;
  }

.mat-clear-icon,
.mat-cancel-icon{
  cursor: pointer;
  color:red;
}

.mat-search-icon{
    cursor: pointer;
    color:blue
}
.spaces{
    padding-right: 1%;
}
.savBtn{
    margin-left: 0.5%;
}






