
 <mat-progress-spinner style="margin-top:15%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>


<bbw-header [caseIdList]="caseIdList" [userInfo]="userInfo"></bbw-header>
<!-- Menu Component -->
<mat-toolbar class="header-main-menu">
    <mat-label class="spaces" color="primary">Case ID:</mat-label>
    <mat-form-field>
        <input class="spaces" autofocus="true" maxlength="10" (keyup.enter)="getCaseInfo(caseId);caseId='';" matInput type="text" [(ngModel)]="caseId">
        <!-- <i (click)="getCaseInfo(caseId);caseId=''" class="small icon-arrows-outgoing-call mat-search-icon"></i> -->
    </mat-form-field>&nbsp;&nbsp;
    <button mat-flat-button color="primary" (click)="getCaseInfo(caseId);caseId='';">Open</button>&nbsp;&nbsp;
    <button mat-flat-button class="savBtn" [disabled]="!caseYanked && !isNewCase" color="primary"  (click)="saveSelectedCaseInfo();">Save</button>
    <span class="header-fill-remaining-space"></span>
    <!-- <button mat-button color="primary" (click)="openAcceptDialog();" [disabled]="disableCaseSelectedForAction"><i class="small icon-location-geofence"></i> Accept</button>
    <button mat-button color="primary" (click)="openDispatchDialog();" [disabled]="disableCaseSelectedForAction"><i class="small icon-location-geofence"></i> Dispatch</button>
    <button mat-button color="primary" (click)="openMoveDialog();" [disabled]="disableCaseSelectedForAction"><i class="small icon-location-geofence"></i> Move</button>
    <button mat-button color="primary" (click)="openAssignDialog();" [disabled]="disableCaseSelectedForAction"><i class="small icon-location-geofence"></i> Assign</button>
    <button mat-button color="primary" (click)="openRejectForwardDialog();" [disabled]="disableCaseSelectedForAction"><i class="small icon-location-geofence"></i> Reject-Forward</button> -->
    <button mat-button color="primary" (click)="openYankDialog();"><i class="small icon-location-geofence"></i> Yank</button>
    <!-- <button mat-button color="primary" (click)="createCase()"><i class="small icon-controls-subscribe"></i> Create Case</button> -->
    <button color="primary" mat-button [matMenuTriggerFor]="new" [disabled]="empRole.dslLimited"><i class="small icon-content-listguide" ></i> New </button>
    <mat-menu #new="matMenu">
        <!-- <button mat-menu-item (click)="createCase()">Case</button> newCaseCreate -->
        <button mat-menu-item (click)="newCaseCreate()">Case</button> 
        <button mat-menu-item (click)="openNewContact()">Contact</button>
        <button mat-menu-item (click)="openNewSite()">Site</button>
        <!-- <button mat-menu-item (click)="openNewContract()">Contract</button> -->
        <button *ngIf="empRole.dslSystemAdmin" mat-menu-item (click)="openNewEmployee()">Employee</button>
        <!-- <button mat-menu-item (click)="openNewAccount()">Account</button> -->
        <button mat-menu-item (click)="newQueue();">Queue</button>
    </mat-menu>
    <button color="primary" mat-button [matMenuTriggerFor]="select"><i class="small icon-content-listguide"></i> Select </button>
    <mat-menu #select="matMenu">
        <button mat-menu-item (click)="openCaseQueryDialog()">Case Query</button>
        <button mat-menu-item (click)="selectContactDialog()">Contacts</button>
        <button mat-menu-item (click)="selectSiteDialog()">Sites</button>
        <!-- <button mat-menu-item>Contracts</button> -->
        <button *ngIf="empRole.dslSystemAdmin" mat-menu-item (click)="selectEmployeesDialog()">Employees</button>
        <!-- <button mat-menu-item>Accounts</button>
        <button mat-menu-item>Planner</button> -->
        <button mat-menu-item (click)="openSelectQueues()" [disabled]="empRole.dslLimited">Queues</button>
        <button mat-menu-item (click)="openSelectWipBins()" [disabled]="empRole.dslLimited">WIPbins</button>
        <button mat-menu-item (click)="openIpLetterAdministration()" *ngIf="empRole.dslSystemAdmin || empRole.dslAdmin">IPL Administration</button>
        <!-- <button mat-menu-item (click)="openSelectWipBins()">WipBins</button> -->
    </mat-menu>
    <button color="primary" mat-button [matMenuTriggerFor]="actions"><i class="small icon-content-listguide"></i> Actions </button>
    <mat-menu #actions="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="log">Log</button>
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openAcceptDialog();" [disabled]="acceptButton"><i class="small icon-location-geofence"></i> Accept</button>
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openDispatchDialog();" [disabled]="dispatchButton"><i class="small icon-location-geofence"></i> Dispatch</button>
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openMoveDialog();" [disabled]="moveButton"><i class="small icon-location-geofence"></i> Move</button>
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openAssignDialog();" [disabled]="assignButton"><i class="small icon-location-geofence"></i> Assign</button>
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openRejectForwardDialog();" [disabled]="rejectForwardButton"><i class="small icon-location-geofence"></i> Reject-Forward</button>        
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openChangeStatusDialog();" [disabled]="changeStatusButton">Change Status</button>
            <button mat-menu-item color="primary" *ngIf="!empRole.dslLimited" (click)="openChangeContactOrSiteDialog();" [disabled]="changeStatusButton">Change Contact/Site</button>
            <!-- <button mat-menu-item>Change Contact/Site</button> -->
            <button [disabled]="disableCloseTask" *ngIf="!empRole.dslLimited" mat-menu-item (click)="closeTaskDialog()">Close Task</button>
            <button [disabled]="disableReopenTask" *ngIf="!empRole.dslLimited" mat-menu-item (click)="reopenTask()">Reopen Task</button>
            <!-- <button mat-menu-item (click)="openSelectWipBins()">WIPbins</button> -->
    </mat-menu>
    <mat-menu #log="matMenu">
            <!-- <button mat-menu-item>Log Phone Call</button> -->
            <button mat-menu-item [disabled]="!caseYanked || empRole.dslLimited" (click)="openLogCommitment();">Log Commitment</button>
            <button mat-menu-item [disabled]="logActionsButton || empRole.dslLimited" (click)="openLog()">Log Research/Phone/Notes</button>
            <!-- <button mat-menu-item>Log Notes</button>
            <button mat-menu-item>Log Research</button>
            <button mat-menu-item>Log Email</button> -->
    </mat-menu>
    <!-- <button mat-button color="primary"><i class="small icon-people-groupcollaboration"></i> Contacts</button>
    <button mat-button color="primary"><i class="small icon-location-geofence"></i> Sites</button> -->
    <button  mat-button color="primary" (click)="toggleSideNav();"><i class="small icon-content-seriessubscribetablet"></i> WIPbins / Queues </button>
    <!-- <button mat-button color="primary"><i class="small icon-documents-searchfind" role="img" aria-label=""></i> Advanced Search </button> -->

</mat-toolbar>
<!--Actual content Area-->
<mat-drawer-container class="main-sidenav-queues-wipbins" [hasBackdrop]="true">
    <mat-drawer class="side-nav-width-queues-wipbins" #wipBinsSideNav [mode]="'over'">
        <!--Display Area for Queues and WIPbins-->
        <!-- Pending... -->
        <bbw-queues-host #queueswipbinshost (toggleDisableForActionButtons)="toggleDisableForActionButtons($event);" (caseAction)="caseAction($event);" [wipBinsSideNav]="wipBinsSideNav"></bbw-queues-host>
    </mat-drawer>
    <mat-drawer-content>
        <!--  I am content for case Ids INFO Pending... -->
        <mat-tab-group [selectedIndex]="selectCase" (selectedIndexChange)="setSelected($event)">
            <mat-tab *ngFor="let caseId of caseIdList; let index = index">
                <ng-template mat-tab-label class="strong">
                    {{caseId}} &nbsp;<i class="medium mat-cancel-icon spaces" (click)="removeCase(index)"><strong>X</strong></i>
                </ng-template>
                <bbw-case-host [appCompRef]="this" [caseCompItems]="caseCompList"></bbw-case-host>
            </mat-tab>
        </mat-tab-group>
    </mat-drawer-content>

</mat-drawer-container>
