<div>
  <table class="tableGrp">
    <tr>
      <td class="labelTd">
        <mat-label class="paymentLbl">Payment Method:</mat-label>
      </td>
      <td class="textInput">
        <mat-form-field class="paymentDropdown">
          <mat-select [(ngModel)]="customerAccount.paymentMethod">
            <mat-option *ngFor="let drop of selectDrop" [value]="drop">{{drop}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="labelTd2">
        <mat-label class="mncLbl">MNC:</mat-label>
      </td>
      <td class="textinpt2">
        <mat-form-field class="billing-inpt">
          <input matInput type="text" [(ngModel)]="caseInfo.tableSof.groupRevenueCode" [disabled]="true">
        </mat-form-field>
      </td>
      <td class="oclTd">
        <mat-label class="oclLbl">OCL:</mat-label>
      </td>
      <td>
        <mat-checkbox class="oclCheckbox" [checked]="caseInfo.tableSite.outsideCityLimitInd == '1'"
          [(ngModel)]="caseInfo.tableSite.outsideCityLimitInd"></mat-checkbox>
      </td>
    </tr>
  </table>
  <table class="tableGrp">
    <tr>
      <td class="labelTd">
        <mat-label class="paymentLbl">Account ID:</mat-label>
      </td>
      <td class="textInput">
        <mat-form-field class="accountInpt">
          <input matInput type="text" [(ngModel)]="customerAccount.billingAccountNumber" [disabled]="true">
        </mat-form-field>
      </td>
      <td class="labelTd2">
        <mat-label class="grcLbl">GRC:</mat-label>
      </td>
      <td class="textinpt2">
        <mat-form-field class="grcInpt">
          <input matInput type="text" [(ngModel)]="caseInfo.tableSof.groupRevenueCode" [disabled]="true">
        </mat-form-field>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <table class="tableGrp">
    <tr>
      <td class="labelTd">
        <mat-label class="paymentLbl">External ID:</mat-label>
      </td>
      <td class="textInput">
        <mat-form-field class="externalInpt">
          <input matInput type="text" [(ngModel)]="externalId" [disabled]="true">
        </mat-form-field>
      </td>
      <td class="labelTd2">
        <mat-label class="socLbl">SOC:</mat-label>
      </td>
      <td class="textinpt2">
        <mat-form-field class="socInpt">
          <input matInput type="text" [(ngModel)]="caseInfo.tableSof.salesOfficeCode" [disabled]="true">
        </mat-form-field>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <table class="tableGrp">
    <tr>
      <td class="labelTd">
        <mat-label class="paymentLbl">Alternate Biller Code:</mat-label>
      </td>
      <td class="textInput">
        <mat-form-field class="alternateInpt">
          <input matInput [(ngModel)]="customerAccount.alternateBillerCode" type="text" [disabled]="true">
        </mat-form-field>
      </td>
      <td class="labelTd2">
        <mat-label class="contractLbl">Contract:</mat-label>
      </td>
      <td class="textinpt2">
        <mat-form-field class="contractInpt">
          <input matInput [(ngModel)]="customerAccount.contractNumber" type="text" [disabled]="true">
        </mat-form-field>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <table class="tableGrp">
    <tr>
      <td class="labelTd">
        <mat-label class="paymentLbl">Biller ID:</mat-label>
      </td>
      <td class="textInput">
        <mat-form-field class="billingInpt">
          <input matInput [(ngModel)]="caseInfo.tableSof.billerCode" type="text" [disabled]="true">
        </mat-form-field>
      </td>
      <td class="labelTd2">
        <mat-label class="geoLbl">GEO Code:</mat-label>
      </td>
      <td class="textinpt2">
        <mat-form-field class="billing-inpt">
          <input matInput type="text" [(ngModel)]="caseInfo.tableSite.geocode" [disabled]="true">
        </mat-form-field>
      </td>
      <td></td>
      <td></td>
    </tr>
  </table>
  <!-- <div class="myDiv"> -->
  <fieldset>
    <legend><b>Billing More Details</b></legend>
    <!-- <table class="billingMoreDetails"> -->
    <table class="Time">
      <tr>
        <td class="billStartDate">
          <mat-form-field class="paymentLbl bilstartInpt">
            <input matInput placeholder="Billing Start Date" type="text" [value]="customerAccount.startDate | toLocalTime"
              [disabled]="true">
          </mat-form-field>
        </td>
        <td class="billDateTime">
          <button class="btnGrp" mat-button (click)="billingStartDate()">D/T</button>
        </td>
        <td class="updateActTd">
          <button class="updatBtn" mat-raised-button color="primary" (click)="updateAccount()">Update Account</button>
        </td>
        <td>
          <button class="bgateBtn" mat-raised-button color="primary" (click)="openDialog()">BGATE Error</button>
        </td>
      </tr>
    </table>
    <table class="Time">
      <tr>
        <td class="serviceStart">
          <mat-form-field class="serstartInpt">
            <input matInput placeholder="Service Start Date" type="text" [disabled]="true">
          </mat-form-field>
        </td>
        <td class="serviceDateTime">
          <button class="btnGrp" mat-button (click)="serviceStartData()">D/T</button>
        </td>
        <td class="emitTd"></td>
        <td></td>
      </tr>
    </table>

    <table class="Time">
      <tr>
        <td class="billStartDate">
          <mat-form-field class="serdiscInpt">
            <input matInput placeholder="Service Disconnect Date" type="text"
              [value]="caseInfo.tableSite.disconnectDate | toLocalTime" [disabled]="true">
          </mat-form-field>
        </td>
        <td class="billDateTime">
          <button class="btnGrp" mat-button (click)="serviceDiscDate()">D/T</button>
        </td>
        <td class="updateActTd">
          <button mat-raised-button color="primary" class="disconBtn" (click)="disconnectBilling()">Disconnect
            Billing</button>
        </td>
        <td>
          <button mat-raised-button color="primary" class="sidBtn" (click)="siidDialog()">SIID/PP Edit</button>
        </td>
      </tr>
    </table>

    <!-- </table> -->
    <!-- <table class="billingMoreDetails2"> -->
    <!-- <table class="btnTbl">
        <tr>
          <td>
            <button class="updatBtn" mat-raised-button color="primary" (click)="updateAccount()">Update Account</button>
          </td>
          <td>
            <button class="bgateBtn" mat-raised-button color="primary" (click)="openDialog()">BGATE Error</button>
          </td>
        </tr>
      </table> -->
    <!-- <table class="btnTbl2">
        <tr>
          <td>
            <button mat-raised-button color="primary" class="disconBtn" (click)="disconnectBilling()">Disconnect
              Billing</button>
          </td>
          <td>
            <button mat-raised-button color="primary" class="sidBtn" (click)="siidDialog()">SIID/PP Edit</button>
          </td>
        </tr>
      </table> -->


    <!-- <button mat-raised-button color="primary" class="sidBtn" (click)="siidDialog()">SIID/PP Edit</button> -->
    <!-- <button mat-button class="disconBtn" (click)="disconnectBilling()" >Disconnect Billing</button> -->
    <!-- <button class="bgateBtn" mat-button>Update Account</button>  -->
    <!-- </table> -->
    <!-- <div>
        <button mat-button class="disconBtn" (click)="disconnectBilling()" >Disconnect Billing</button>
        <button class="bgateBtn" mat-button>Update Account</button> 
      </div> -->
  </fieldset>
  <!-- <table class="tableGrp">
          <tr>
            <td>
              <mat-form-field class="paymentLbl bilstartInpt">
                <input matInput placeholder="Billing Start Date" type="text" [(ngModel)]="caseInfo.tableSite.geocode"> 
              </mat-form-field> 
              <button class="btnGrp" mat-button>D/T</button>
         
              <mat-form-field class="serstartInpt">
                <input matInput placeholder="Service Start Date" type="text" [(ngModel)]="caseInfo.tableSite.geocode"> 
              </mat-form-field> 
              <button class="btnGrp" mat-button>D/T</button>
        
              <mat-form-field class="serdiscInpt">
                <input matInput placeholder="Service Disconnect Date" type="text" [(ngModel)]="caseInfo.tableSite.geocode"> 
              </mat-form-field>
              <button class="btnGrp" mat-button>D/T</button>
            </td>
          </tr>
        </table> -->


</div>
