<mat-card>&nbsp;&nbsp;{{caseInfo.caseId}}: <span *ngIf="option=='logNotes'">Log Notes</span><span
    *ngIf="option=='logEmail'">Log
    Email</span><span *ngIf="option=='logPhone'">Log
    Phone</span><span *ngIf="option=='logResearch'">Log
    Research</span><span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<div>
  <mat-radio-group [(ngModel)]="option" (ngModelChange)="setActions()">
    <mat-radio-button [value]="'logResearch'" class="research">Log
      Research</mat-radio-button>
    <mat-radio-button [value]="'logPhone'" class="phone">Log
      Phone</mat-radio-button>
    <mat-radio-button [value]="'logNotes'" class="notes">Log Notes
    </mat-radio-button>
    <!-- <mat-radio-button [value]="'logEmail'" class="email">Log
      Email</mat-radio-button> -->
  </mat-radio-group>
</div>

<!-- <div *ngIf="option=='logEmail'">
  <div>
    <div class="sender">
      <mat-label>Sender:</mat-label>
      <mat-form-field class="sender">
        <input matInput disabled [(ngModel)]="createIpLetter">
      </mat-form-field>
    </div>
    <div class="startTime">
      <mat-label>Start Time:</mat-label>
      <mat-form-field class="timeInput">
        <input matInput disabled [(ngModel)]="createIpLetter">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Action Type:</mat-label>
      <mat-form-field class="actionType">
        <mat-select [(ngModel)]="actionTypeSelected">
          <mat-option *ngFor="let actionType of actionTypes" [value]="firstOrder">{{actionType}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="marginTop">
      <mat-label>Recipients:</mat-label>
      <mat-form-field class="recipient">
        <input matInput [(ngModel)]="toList">
      </mat-form-field>
    </div>
    <div class="marginTop">
      <mat-label>CC List:</mat-label>
      <mat-form-field class="ccList">
        <input matInput [(ngModel)]="ccList">
      </mat-form-field>
    </div>
    <div>
      <mat-label>Message:</mat-label><br>
      <textarea [(ngModel)]="createIpLetter" class="messText"></textarea>
    </div>
  </div><br>
  <button class="sendButton" (click)="sendMail()" mat-raised-button color="primary">Send</button>
</div>

 -->

<div>
  <table>
    <tr>
      <td *ngIf="option == 'logPhone'"><button mat-raised-button color="primary">Contact Name</button></td>
      <td *ngIf="option == 'logResearch'">
        <mat-label>Research Time Spent[d h:m]: </mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="researchLog.researchTimeSpent">
        </mat-form-field>&nbsp;
        <button mat-raised-button color="primary">ETE</button>
      </td>
      <!-- First Name and Last name we need to disaply-->
      <td *ngIf="option=='logPhone'">
        <mat-form-field>
          <input matInput disabled [value]="fullName">
        </mat-form-field>
      </td>
      <td>
        <mat-label>Action Type: </mat-label>
        <mat-form-field>
          <mat-select [(ngModel)]="researchLog.actionType">
            <mat-option *ngFor="let action of actions" [value]="action">{{action}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="originator">
        <mat-label>Originator: </mat-label>
        <mat-form-field>
          <input matInput disabled [(ngModel)]="researchLog.loginName">
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td *ngIf="option == 'logPhone'">
        <mat-label>Phone Number: </mat-label>
        <mat-form-field>
          <input matInput [(ngModel)]="researchLog.phoneNumber">
        </mat-form-field>
      </td>
      <td *ngIf="option == 'logPhone'">
        <mat-label>Start Time: </mat-label>
        <mat-form-field>
          <input matInput disabled [value]="researchLog.createDate | toLocalTime">
        </mat-form-field>
      </td>
      <td *ngIf="option=='logNotes'">
        <mat-label>Create Date: </mat-label>
        <mat-form-field>
          <input matInput disabled [value]="researchLog.createDate | toLocalTime">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div>
    <mat-label>Notes: </mat-label>
    <textarea [(ngModel)]="researchLog.notes"></textarea>
  </div>
  <div>
    <mat-label>For Internal Use Only: </mat-label>
    <textarea [(ngModel)]="researchLog.internalUseOnly"></textarea>
  </div>

  <div>
    <table>
      <tr>
        <td>
          <mat-label>Commitment: </mat-label>
          <mat-form-field>
            <mat-select [(ngModel)]="researchLog.commitment">
              <mat-option *ngFor="let commit of commitments" [value]="commit">{{commit}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-label>Current Case Status: </mat-label>
          <mat-form-field>
            <input matInput disabled [value]="researchLog.oldCaseStatus">
          </mat-form-field>
        </td>
        <td>
          <mat-label>Due Date: </mat-label>
          <mat-form-field class="commitDt">
            <input matInput [value]="researchLog.duedate | toLocalTime" disabled>
          </mat-form-field>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="dateTimeChange()" class="dtBtn">D/T</button>
        </td>
        <td>
          <mat-label>New Case Status: </mat-label>
          <mat-form-field>
            <mat-select [(ngModel)]="researchLog.newCaseStatus">
              <mat-form-field class="arraySearchFilter">
                <input #searchText matInput placeholder="Search">
              </mat-form-field>
              <mat-option *ngFor="let caseStatus of caseStatusTypes | arraySearchFilter : searchText.value"
                [value]="caseStatus">{{caseStatus}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>

  <div>
    <table>
      <tr>
        <td *ngIf="option == 'logPhone'" class="center-td">
          <button mat-raised-button [disabled]="caseInfo.tableCase.replyState == 0" color="primary"
            (click)="initialResponseBtn()">Initial Response</button>
        </td>
        <td *ngIf="option == 'logPhone'" class="center-td">
          <button mat-raised-button color="primary" (click)="hangUpBtn()">Hang Up</button>
        </td>
        <td *ngIf="option == 'logNotes'" class="center-td">
          <button mat-raised-button color="primary" (click)="logNotesBtn()">Log</button>
        </td>
        <td *ngIf="option=='logResearch'" class="center-td">
          <button mat-raised-button color="primary" (click)="logResearchBtn()">Log</button>
        </td>
        <td class="center-td">
          <button mat-raised-button color="primary" (click)="commitmentBtn()">Commitments</button>
        </td>
        <td class="center-td">
          <button mat-raised-button color="primary" (click)="cancelDialog()" style="float:right">Done</button>
        </td>
      </tr>
    </table>
  </div>
</div>