mat-card{
    background: #3f51b5;
    color: white;
    margin-top: -1.8%;
    width: 102.9%;
    margin-left: -1.8%;
    padding: 0.3%;
}
table{
    width: 100%;
}
textarea{
    width: 97%;
    height: 100px;
    resize: none;
    background: fixed no-repeat;
}
div.tableFieldset{
    width: 98%;
}
.warningText{
    margin-top:-2%;
}
.research{
margin-left: 33%;
}
/* .email{
    margin-left: 5%;
} */
.phone{
    margin-left: 5%;
}
.notes{
    margin-left: 5%;
}
.originator{
    float: right;
}
.center-td{
    text-align: center;
  }

mat-toolbar{
    background: #3f51b5;
    color: white;
    height: 30px;
    padding: 1%;
    padding-top: 1.3%;
    margin-top: -3.5%;
    width: 106%;
    margin-left: -3%;
}
.timeInput{
    width: 78%;
}
select{
    width: 324px;
    height: 35px;
}

textarea.messText{
    width: 100%;
    height: 190px;
    resize: none;
    background: fixed no-repeat;
}
.sendButton{
    /* margin-left: 50%; */
    float: right;
}
.table1{
    margin-top: -1%;
}
div.startTime{
    margin-left: 53%;
    margin-top: -4%;
}
div.marginTop{
    margin-top: -2%;
}
.close{
    cursor: pointer;
    margin-left: 85%;
}
.ccList{
    margin-left: 3.6%;
    width: 88%;
}
.actionType{
    width: 15%;
    margin-left: 1.4%;
}
.recipient{
    left:2%;
    width: 88%;
}
.action{
    left: 1%;
}
.sender{
    left: 5.5%;
    width: 60%;
}
.dtBtn{
    left: -20%;
}
*{
    font-family:  Roboto,"Helvetica Neue",sans-serif;
}