mat-card{
    background: #3f51b5;
    color: white;
    margin-top: -6.7%;
    width: 109.8%;
    margin-left: -7%;
    padding: 2%;
}
tr.mat-header-row{
    height: 25px;
}
table.mat-elevation-z8{
    width: 100%;
  }
  tr.mat-row{
    height: 25px;
  }
  th{
    /* font-weight: bold; */
    font-size: 15px;
    background-color: #3f51b5;
    color:white;
    height: 20%;
    /* text-align: center; */
  }
  .queueTable{
    height: 220px;
    width: 100%;
    overflow: auto; 
    border: 1px solid black;  
  }
  .assignBtn{
      margin-left: 48%;
  }
  .secDrop{
    margin-top: -10%;
    margin-left:50%;
  }
  .listBtn{
    margin-top: -3%;
  }
  .userInput{
  margin-left: 24.9%;
    margin-top: -7%;
  }
  