mat-card{
    background: #3f51b5;
    color: white;
    width: 103.3%;
    padding: 8px;
    margin-left: -2.5%;
    margin-top: -2.5%;
}
.titleInput{
    width: 50%;
}
.contentTbl{
    width: 100%;
    height: 250px;
    border: 1px solid gray;
    margin-top: 1%;
}

table{
    width: 100%;
}
table, tr, td{
    /* border: 1px solid gray; */
}
.addBtn{

}
.replaceBtn{
    /* margin-left: 36%; */
}
.leftBtn{

}
.rightBtn{

}
.doneBtn{
    /* float: right; */
}
.btnGrp{
    padding-top: 3%;
    margin-left: 20%;
    width: 70%;
}














