<div class="container">
  <mat-progress-spinner style="left: 52%;z-index:125;position: fixed;margin-top: 6%;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>
  <mat-card>IP Letter Administration<p (click)="closeDialog();" class="closeBtn">&times;</p></mat-card>
  <fieldset class="ipLetter">
    <legend>Filter By</legend>
    <div class="statusDrop">
        <!-- <mat-label class="statusLbl">Status:</mat-label> -->
        <mat-form-field class="statuDrop">
          <mat-select placeholder="Status" [(value)]="statusValue" >
            <mat-option *ngFor="let selectDrop of statusDropdown"  [value]="selectDrop">{{selectDrop}}</mat-option> 
          </mat-select>
        </mat-form-field>
      <mat-label class="verLbl">Versions:</mat-label>
      <span>
        <!-- <mat-label>Type:</mat-label> -->
        <mat-form-field class="statuDrop">
          <mat-select placeholder="Type" [(value)]="typeValue">
            <mat-option *ngFor="let drop of selectedDropdownType" [value]="drop">{{drop}}</mat-option> 
          </mat-select>
        </mat-form-field>
      </span>
    </div>
    <div class="version">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let IpLetterAdmin">{{IpLetterAdmin.letterType}}</td>
            </ng-container>

            <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> Version </th>
                   <td mat-cell *matCellDef="let IpLetterAdmin"> {{IpLetterAdmin.revisionVersion}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let IpLetterAdmin"> {{IpLetterAdmin.revisionStatus}} </td>
            </ng-container>
            <ng-container matColumnDef="last">
              <th mat-header-cell *matHeaderCellDef> Last Modified </th>
              <td mat-cell *matCellDef="let IpLetterAdmin"> {{IpLetterAdmin.revisionDate | toLocalTime}} </td>
            </ng-container>
            <ng-container matColumnDef="empFname">
              <th mat-header-cell class="empFirstName" *matHeaderCellDef> Emp First Name </th>
              <td  mat-cell class="empFirstName" *matCellDef="let IpLetterAdmin"> {{IpLetterAdmin.employeeFirst}} </td>
            </ng-container>
            <ng-container matColumnDef="empLname">
              <th mat-header-cell *matHeaderCellDef> Emp Last Name </th>
              <td mat-cell *matCellDef="let IpLetterAdmin"> {{IpLetterAdmin.employeeLast}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row class="result-row"
            
            [hidden]="(statusValue != 'All' && statusValue != row.revisionStatus) || (typeValue != 'All' && typeValue != row.letterType)"
            *matRowDef="let row; columns: displayedColumns;" 
                                            [ngClass]="{'highlight': selectedIpLetterAdmin == row}"
                                            (click)="setClickedRow(row)"></tr>
            </table> 
    </div>
  </fieldset>
  <div class="ipLetterTab">
    <mat-tab-group (selectedTabChange)="createTemplateExampleContent(iplBodyTextArea);">
      <mat-tab label="Edit">  
        <table class="versionTbl">
          <tr>
            <td class="versionTd">
              <mat-label class="labelGrp">Version:</mat-label>
            </td>
            <td>
              <mat-form-field>
                <input matInput [disabled]="true" [(ngModel)]="selectedIpLetterAdmin2" type="text"> 
              </mat-form-field>
            </td>
            <td class="auterTd">
              <mat-label class="labelGrp">Author:</mat-label>
            </td>
            <td>  
              <mat-form-field class="authorInpt">
                <input matInput [disabled]="true" [(ngModel)]="selectedIpLetterAdmin3" type="text"> 
              </mat-form-field> 
            </td>
          </tr>
        </table>
        <table class="modifiedTbl">
            <tr>
              <td class="modifTd">
                <mat-label class="labelGrp">Modified:</mat-label>
              </td>
              <td>
                <mat-form-field>
                  <input matInput [disabled]="true" [value]="selectedIpLetterAdmin5 | toLocalTime" type="text"> 
                </mat-form-field>
              </td>
              <td class="typeDisplay">
                <mat-label class="labelGrp">Type Displayed:</mat-label>
              </td>
              <td class="change">  
                <mat-form-field class="authorInpt">
                  <input matInput [(ngModel)]="selectedIpLetterAdmin4" [disabled]="true" type="text"> 
                </mat-form-field> 
              </td>
            </tr>
          </table>
          <table class="descTbl">
            <tr>
              <td class="descTd"><mat-label class="descLbl labelGrp">Description:</mat-label></td>
              <td>
                <mat-form-field class="descInpt">
                  <input matInput [disabled]="!isTestStatusIpLetterVersion" [(ngModel)]="selectedIpLetterAdmin6" type="text"> 
                </mat-form-field> 
              </td>
            </tr>
          </table>
          <table class="insertTbl">
              <tr>
                <td class="insertTd">
                  <mat-label class="labelGrp">Insert Data:</mat-label>
                </td>
                <td class="insertDrop">
                  <mat-form-field class="">
                    <mat-select [disabled]="!isTestStatusIpLetterVersion" [(ngModel)]="insertDataSelection">
                      <mat-option (click)="addTextAtCaret(iplBodyTextArea,data.name)" *ngFor="let data of ipLetterTemplate.iplTags" [value]="data.name">{{data.name}}</mat-option> 
                    </mat-select>
                  </mat-form-field>
                </td>
                <td class="savaTd">
                  <mat-label class="labelGrp savAsStatus">Save As Status:</mat-label>
                </td>
                <td class="">
                  <mat-form-field class="saveDrop">
                    <mat-select [disabled]="!isTestStatusIpLetterVersion" [(ngModel)]="selectedServerInfo.revisionStatus">
                      <mat-option *ngFor="let drop of selectDrop" [value]="drop">{{drop}}</mat-option> 
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div class="contant">
              <mat-label contLbl class="labelGrp">Content:</mat-label>
            </div>
            <textarea [disabled]="!isTestStatusIpLetterVersion" [(ngModel)]="iplBodycontent" #iplBodyTextArea rows="12" cols="130" class="txtarea"></textarea>
           <table class="btnGrp">
             <tr>
               <td>
                  <button mat-raised-button color="primary" [disabled]="true" class="newBtn" mat-button>New</button>
                  <button mat-raised-button color="primary" [disabled]="selectedIpLetterAdmin==null" (click)="deleteTemplateData()" class="deletBtn" mat-button>Delete</button>
                  <button mat-raised-button color="primary" [disabled]="selectedIpLetterAdmin==null || !isTestStatusIpLetterVersion" (click)="saveTemplateData(iplBodyTextArea)" class="savBtn" mat-button>Save</button>
                  <button mat-raised-button color="primary" (click)="cancel(iplBodyTextArea)" class="cencelBtn" mat-button>Cancel</button>
               </td>
             </tr>
           </table>
      </mat-tab>
      <mat-tab label="View">
        <div>
          <div class="txtLbldiv"><mat-label class="txtLbl">* Separate each email address with a comma</mat-label></div>
          <table class="sendTbl"> 
            <tr>
              <td>
                <mat-label class="sendLbl">Send To:</mat-label>
                <mat-form-field class="sendInpt">
                  <input matInput [(ngModel)]="toList" type="text"> 
                </mat-form-field>
              </td>
            </tr>
          </table>
          <table class="ccTbl">
              <tr>
                <td>
                  <mat-label class="ccLbl">CC:</mat-label>
                  <mat-form-field class="ccInpt">
                    <input matInput [(ngModel)]="ccList" type="text"> 
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <table class="msgTbl">
                <tr>
                  <td>
                    <mat-label class="subjectLbl">Subject:</mat-label>
                    <mat-form-field class="subjectInpt">
                      <input matInput [(ngModel)]="subject" type="text"> 
                    </mat-form-field>
                  </td>
                </tr>
              </table>
              <div>
                <mat-label class="msgLbl">Message:</mat-label>
                  <textarea class="txtarea2" [(ngModel)]="templateExampleContent"></textarea>
              </div>
            <div class="btnDiv"><button mat-raised-button color="primary" (click)="sendMail()" class="sendBtn" mat-button>Send</button></div>

        </div>
      </mat-tab>
    </mat-tab-group> 
  </div>
</div>




