mat-card{
    background: #3f51b5;
    color: white;
    padding: 0.5%;
    margin-top: -2.2%;
    margin-left: -2%;
    width: 102.5%;
    padding-left: 1%;
}

table{
    width: 100%;
}
.caseTable{
    width: 100%;
    height: 350px;
    border: 1px solid gray;
    overflow: auto;
    margin-top: 1%;
}
table, tr, td{
    /* border: 1px solid gray; */
}
.firstDropdown{

}
.siteTd{
    width: 16%;
}
.firstValue{
    width: 88%;
}
.subDrop{
    width: 65%;
}
.sortDrop{
    width: 65%;
    margin-left: 7%;
}

.inpt{
    width: 97%;
}
.listBtnTd{
    width: 9%;
}
.listBtn{
    float: right;
}
.items{
    width: 25%;

}

.printTd{
    width: 25%;
}

.printBtn{
    margin-left: 20%;
}
.openBtn{
    margin-left: 48%;
}
.donBtn{
    float: right;
}
th.mat-header-cell {
    background: #3f51b5;
    color: white;
}
tr.mat-header-row {
    height: 25px;
}
.td{
    border-right: 1px solid #0000001f;
    padding: 5px;
}
.th {
    border-right: 1px solid #0000001f;
    padding-left: 4px;
}