<div class="container">
  <mat-card>Cases from Query: <p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>
  <br />
  <div class="caseTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>

      <ng-container matColumnDef="caseId">
        <th mat-header-cell class="th" *matHeaderCellDef> Case ID </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.idNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="owner">
        <th mat-header-cell class="th" *matHeaderCellDef> Owner </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.owner}} </td>
      </ng-container>

      <ng-container matColumnDef="condition">
        <th mat-header-cell class="th" *matHeaderCellDef> Condition </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.condition}} </td>
      </ng-container>

      <ng-container matColumnDef="statue">
        <th mat-header-cell class="th" *matHeaderCellDef> Status </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.status}} </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell class="th" *matHeaderCellDef> Type </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.type}} </td>
      </ng-container>

      <ng-container matColumnDef="siteName">
        <th mat-header-cell class="th" *matHeaderCellDef> Site Name </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.siteName}} </td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell class="th" *matHeaderCellDef> Priority </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.priority}} </td>
      </ng-container>

      <ng-container matColumnDef="severity">
        <th mat-header-cell class="th" *matHeaderCellDef> Severity </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.severity}} </td>
      </ng-container>

      <ng-container matColumnDef="contactFirstName">
        <th mat-header-cell class="th" *matHeaderCellDef> Contact First Name </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="contactLastName">
        <th mat-header-cell class="th" *matHeaderCellDef> Contact Last Name </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell class="th" *matHeaderCellDef> Title </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.title}} </td>
      </ng-container>

      <ng-container matColumnDef="serviceType">
        <th mat-header-cell class="th" *matHeaderCellDef> Service Type </th>
        <td mat-cell class="td" *matCellDef="let caseData"> {{caseData.xServiceIndicator}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns; let index = index" [ngClass]="{'highlight': selectedCaseQuery == row}"
        (click)="setClickedRow(row,index)"></tr>
    </table>
    <mat-progress-spinner style="margin-top:10%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>

  </div>

  <table>
    <tr>
      <td class="printTd">
        <mat-form-field class="items">
          <input matInput disabled type="text">
        </mat-form-field>
        <mat-label>Items </mat-label>
      </td>
      <td class="printTd">
        <button mat-raised-button color="primary" (click)="printList()" class="printBtn">Print
          List</button>
      </td>
      <td class="printTd">
        <button mat-raised-button color="primary" (click)="openCase()" class="openBtn">Open</button>
      </td>
      <td class="printTd">
        <button mat-raised-button color="primary" (click)="closeDialog()" class="donBtn">Done</button>
      </td>
    </tr>
  </table>

</div>