mat-card{
    background: #3f51b5;
    color: white;
    padding: 0.5%;
    margin-top: -2.2%;
    margin-left: -2%;
    width: 102.5%;
    padding-left: 1%;
}
.simple{
    background: greenyellow;
}

table{
    width: 100%;
}
table, tr, td{
    /* border: 1px solid gray; */
}
.tabGrp{
    width: 85%;
    height: 425px;
    /* border: 1px solid gray; */
    display: inline-block;
}
.btnGrp{
    width: 10%;
    height: 425px;
    /* border: 1px solid gray; */
    float: right;
}
.labelTd{
    width: 10%;
}
.solInpt{
    width: 70%;
}
.labelInpt{
    width: 20%;
}
.firstName{
    width: 12%;
}
.aredLbl{
    width: 37.2%;    
}
.lastTd{
    width: 10%;
}
.firstNameInpt{
    width: 25%;
}
.emailLbl{
    width: 5.6%;
}
.nameInpt{
    width: 90%;
}
.lastNameInpt{
    width: 100%;
}
.sortOpt{
    float: right;
    width: 46%;
}

.contactTbl{
    margin-top: -1%;

}
.contactTbl2{
    margin-top: -2%;
}
.emailInpt{
    width: 73%;
}
.btnGrp1{
    float: right;
}
.btnGrp2{
    margin-top: 50%;
    float: right;
}
.siteTbl{
    margin-top: -1%;
}
.siteIdTd{
    width: 13%;
}
.nicTd{
    width: 1.6%;
}
.sitIdInptTd{
    width: 18%;
}
.sitIdInpt{
    width: 93%;
}
.sitNameInpt{
    width: 92%;
    margin-left: 2%;
}
.adrsInptTd{
    width: 53%;
}
.adrsInpt{
    width: 96%;
}
.inpt{
    width: 58%;
}
.cityTd{

}
.cityInpt{
    width: 97%;
}
.custNamInpt{
    width: 97%;
    float: right;
}
.custNamTd{
    width: 40.6%;
}
.stateTd{
    width: 17%;
}
.stateOpt{
    width: 40%;
    margin-left: 25%;
}
.zipTd{

}
.zipInpt{
    width: 100%;
    /* float: right; */
}
.countryTd{
    width: 34%;
}
.countryInpt{

}
.timZoneTd{
    width: 19%;
}
.timeZoneOpt{
    float: right;
    width: 33%;
}
.timeZoneoptTd{

}
.clearBtn{
    float: right;
}
.adrsTbl{
    margin-top: -2%;
}

/* contact Info */

.managBtn{
    float: right;
    margin-top: 4%;
}
.strataTd{
    width: 12%;
}
.managTd{
    width: 9%;
}
.NameTd{
    width: 40%;
}
.firstTd{
    width: 30.5%;
}
.regionTd{
    width: 11.5%;
}
.submitterTd{
    width: 15.8%;
}
.connectTd{
    width: 30%;
}
.strataTbl{
    margin-top: -1%;
}
.contactTbl{
    margin-top: -1.5%;
}
.checkbox{
    width: 17.7%;
}
.subBtn{
    margin-left: 7%;
}

/* Opportunity Tab CSS */

.oppData{
    width: 85%;
    height: 250px;
    border: 1px solid gray;
    overflow: auto;
    margin-left: 3%;
}
.openBtn{
    float: right;
    margin-right: 15%;
    margin-top: 1%;
}
th{
    font-size: 15px;
    background-color: #3f51b5;
    color: white;
}
tr.mat-header-row{
    height: 25px;
}
.opportunityLbl{
    width: 97%;
    margin-left: 3%;
}

/* Quote Data */

.quoteData{
    width: 85%;
    height: 250px;
    border: 1px solid gray;
    overflow: auto;
    margin-left: 3%;
}
.quoteTbl{
    width: 97%;
    margin-left: 3%;
}

/* action Item Data */
.actionData{
    width: 96%;
    height: 250px;
    border: 1px solid gray;
    overflow: auto;
    margin-left: 2%;
}
.actionTbl{
    width: 97%;
    margin-left: 2%;
}

/* part Request  */
.partRequestData{
    width: 85%;
    height: 250px;
    border: 1px solid gray;
    overflow: auto;
    margin-left: 3%;
}
.partTbl{
    width: 97%;
    margin-left: 3%;
}

/* Additional Site Info */
.additionalSite{
    width: 96%;
    height: 228px;
    border: 1px solid gray;
    overflow: auto;
    margin-left: 2%;
}
.custTbl{
    margin-top: -1%;
}
.addtionalBtn{
    float: right;
    margin-right: 11%;
}
.custIdNamLbl{

}
.contactInfo{
    margin-top: -2%;
}
.custIdNamTd{
    width: 25%;
}
.custTd{
    width: 18.1%;
}

/* contact Info */

table, tr, td{
    /* border: 1px solid gray; */
}

tr.mat-row:nth-child(odd){
    background: #f2f2f2;
}
tr.mat-row.highlight{
    background:#BBDEFB;
    color: white;
}

tr.mat-header-row{
    height: 25px;
}



.th{
    border-right: 1px solid #0000001f;
    padding: 5px;
}
.td{
    border-right: 1px solid #0000001f;
    padding: 5px;
}
tr.mat-row{
    height: 35px;
}
.newBtn{
    float: right;
}









