<div>
  <mat-card>Close Task<p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>

  <table>
    <tr>
      <td class="statusTd">
        <mat-label>Status: </mat-label>
      </td>
      <td class="statusLbl">
        <mat-form-field>
          <mat-select [(ngModel)]="statusValue">
            <mat-option *ngFor="let optionValue of statusDropdown" [value]="optionValue">{{optionValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="closedBy">
        <mat-label>Last Closed Date: </mat-label>
      </td>
      <td class="btnsave">
        <button mat-raised-button color="primary" (click)="closeTask()" class="savBtn">Close Case</button>
      </td>
    </tr>
  </table>
  <table class="resolTbl">
    <tr>
      <td class="statusTd">
        <mat-label>Resolution: </mat-label>
      </td>
      <td class="statusLbl">
        <mat-form-field>
          <mat-select [(ngModel)]="resolutionStatus">
            <mat-option *ngFor="let resolValue of resolutionDropdown" [value]="resolValue">{{resolValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td class="closedBy">
        <mat-label>Closed By: </mat-label>
      </td>
      <td class="btnsave">
        <button mat-raised-button color="primary" (click)="closeDialog()" class="savBtn">Done</button>
      </td>
    </tr>
  </table>
  <table class="resolTbl">
    <tr>
      <td class="statusTd">
        <mat-label>Category Type: </mat-label>
      </td>
      <td class="statusLbl">
        <mat-form-field>
          <mat-select [(ngModel)]="categoryStatus">
            <mat-option *ngFor="let categryValue of categryDropdown" [value]="categryValue">{{categryValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <mat-label>Close Date: </mat-label>
      </td>
    </tr>
  </table>
  <table class="resolTbl">
    <tr>
      <td class="statusTd">
        <mat-label>Closure Category: </mat-label>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="closureStatus">
            <mat-option *ngFor="let closurValue of closurDropdown" [value]="closurValue">{{closurValue}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table class="resolTbl">
    <tr>
      <td class="statusTd">
        <mat-label>Closure Resolution: </mat-label>
      </td>
      <td>
        <mat-form-field>
          <mat-select [(ngModel)]="closureResuStatus">
            <mat-option *ngFor="let clossurResol of closurResolution" [value]="clossurResol">{{clossurResol}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <div>
    <div class="summeryLbl">
      <mat-label>Summary: </mat-label>
    </div>
    <textarea>

    </textarea>
  </div>
</div>