  <!-- <mat-toolbar style="height: 35px;">
    <span>CASE INFO : {{caseInfo.caseId}}</span>&nbsp;&nbsp;&nbsp;
  </mat-toolbar> --><br>
    <div class="matExpansionPannel_left">
        <mat-accordion class="example-headers-align">

          
              <!-- case details pannel -->
              <mat-expansion-panel class="pannel_1" [expanded]="true">
                  <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                    <mat-panel-title>
                      Case Details
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                 
                  <table class="custTbl firstTbl" >
                    <tr>
                      <td class="reportTd"> <label>Cust ID: </label></td>
                      <td>
                      <mat-form-field class="custId">
                        <input matInput [(ngModel)]="caseInfo.tableSite.siteId" [disabled]="!caseInfo.isNew">
                      </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="reportTd"><label>Case Title: </label></td>
                      <td>
                        <mat-form-field class="casetitle">
                          <input matInput [(ngModel)]="caseInfo.tableCase.title" [disabled]="(!caseInfo.isNew && !caseInfo.caseYanked) || empRole.dslLimited">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  
                  <table class="custTbl">
                    <tr>
                      <td class="reportTd"><label>Name:</label></td>
                      <td>
                        <mat-form-field class="name">
                          <input matInput [(ngModel)]="caseInfo.tableSite.name" [disabled]="!caseInfo.isNew">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <table>
                    <tr>
                      <td class="reportTd"> <label>Reported By(F/L): </label></td>
                      <td>
                        <mat-form-field class="reportedBy">
                          <input matInput  [(ngModel)]="fullName" [disabled]="!caseInfo.isNew"> 
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                    
                  <table class="custTbl">
                      <tr>
                        <td class="reportTd"><label>Main Phone: </label></td>
                        <td>
                          <mat-form-field class="mainPhone">
                            <input matInput [(ngModel)]="caseInfo.tableContact.phone" [disabled]="!caseInfo.isNew">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                     <table>
                       <tr>
                        <td class="reportTd"><label>Email: </label></td>
                        <td>
                          <mat-form-field class="email">
                            <input matInput  [(ngModel)]="caseInfo.tableContact.email" [disabled]="!caseInfo.isNew">
                          </mat-form-field>
                        </td>
                       </tr>
                     </table>

                     <table class="custTbl">
                       <tr>
                         <td class="reportTd"><label>Biller ID: </label></td>
                         <td>
                            <mat-form-field class="billerId">
                              <input matInput  [(ngModel)]="caseInfo.tableSof.billerCode" [disabled]="!caseInfo.isNew">
                            </mat-form-field>
                         </td>
                       </tr>
                    </table>

                    <table>
                       <tr>
                         <td class="reportTd"><label>Type: </label></td>
                         <td>
                            <mat-form-field class="type">
                              <mat-select [(value)]="caseInfo.tableCase.xcaseType" [disabled]="!caseInfo.isNew" (ngModelChange)=setDefault($event)>
                                <mat-option *ngFor="let typeValue of typeValues" [value]="typeValue">{{typeValue}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                         </td>
                       </tr>
                    </table>

                    <table class="custTbl">
                       <tr>
                         <td class="reportTd"><label>Sub Type: </label></td>
                         <td>
                          <mat-form-field class="subType">
                            <mat-select [(value)]="caseInfo.tableCase.xcaseSubtype" [disabled]="(!caseInfo.isNew && !caseInfo.caseYanked) || empRole.dslLimited">
                              <mat-form-field class="arraySearchFilter">
                                    <input #searchText matInput placeholder="Search">
                              </mat-form-field>
                              <mat-option *ngFor="let subTypeValue of subTypeValues | arraySearchFilter : searchText.value" [value]="subTypeValue">{{subTypeValue}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                         </td>
                       </tr>
                     </table>
                      
                     <br>


                    <!-- <div>
                      <label>Priority/Severity : </label>
                        <mat-form-field class="prioritySeverity">
                          <mat-select [(value)]="caseInfo.tableCase.prioritySeverity">
                            <mat-option *ngFor="let prioritySeverityValue of priorityAndSeverity">{{prioritySeverityValue}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                     </div> -->


                     <table>
                       <tr class="align-center">
                         <td><button mat-raised-button	class="btn_more_info" (click)="openDialog()">More Info</button></td>
                         <td [hidden]="caseInfo.isNew"><button mat-raised-button (click)="openCaseSite()"	class="btn_site_details">Site Details</button></td>
                         <td [hidden]="caseInfo.isNew"><button mat-raised-button (click)="openCaseContact()"	class="btn_contact_details">Contact Details</button></td>
						             <td [hidden]="!caseInfo.isNew"><button mat-raised-button color="primary" (click)="selectContactDialog()" class="btn_select_details">Select Contact</button>
                         <td [hidden]="caseInfo.isNew">&nbsp;&nbsp;<button mat-raised-button color="primary" (click)="openPrevCase()" class="btn_prev_case">Prev. Cases</button> </td>

                       </tr>
                     </table>
                </mat-expansion-panel>
    
          <!-- customer information pannel -->
              <mat-expansion-panel class="pannelMain pannel_2" hideToggle="false">
                  <mat-expansion-panel-header class="pannelHead" [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                    <mat-panel-title>
                      Customer Information
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <table class="caseTable custInfo">
                    <tr>
                      <td class="roomFlorTd"><mat-label><b>Alt. Contact Name:</b></mat-label></td>
                      <td>
                        <mat-form-field class="address">
                          <input matInput [(ngModel)]="caseInfo.tableContact.firstName+'   '+caseInfo.tableContact.lastName" [disabled]="!caseInfo.isNew">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><mat-label><b>Alt. Contact Phone:</b></mat-label></td>
                      <td>
                        <mat-form-field class="address">
                          <input matInput [(ngModel)]="caseInfo.tableCase.altPhoneNum" [disabled]="!caseInfo.caseYanked || empRole.dslLimited">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>
                  <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><label>Address: </label></td>
                      <td>
                        <mat-form-field class="address">
                          <input matInput [(ngModel)]="caseInfo.tableAddress.address" [disabled]="true">
                      </mat-form-field>
                      </td>
                    </tr>
                  </table>


                  <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><label>Room / Floor: </label></td>
                      <td>
                        <mat-form-field class="address">
                          <!-- <input matInput [(ngModel)]="roomAndFloor" [disabled]="true"> -->
                          <input matInput [(ngModel)]="caseInfo.tableAddress.address_2" [disabled]="true">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><label> City/State/Zip: </label></td>
                      <td>
                          <mat-form-field class="address">
                            <input matInput [(ngModel)]="caseInfo.tableAddress.city+'   '+caseInfo.tableAddress.state+'   '+caseInfo.tableAddress.zipcode" [disabled]="true">
                          </mat-form-field>
                      </td>
                    </tr>
                  </table>
                 
                  <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><label>Pager/Fax: </label></td>
                      <td>
                        <mat-form-field class="address">
                          <input matInput [(ngModel)]="caseInfo.tableContact.xPager" [disabled]="true">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><label>Country: </label></td>
                      <td>
                        <mat-form-field class="address">
                          <input matInput  [(ngModel)]="caseInfo.tableAddress.xCountry" [disabled]="true">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table>

                  <!-- <table class="caseTable">
                    <tr>
                      <td class="roomFlorTd"><label>Zipcode: </label></td>
                      <td>
                        <mat-form-field class="address">
                          <input matInput [(ngModel)]="caseInfo.tableAddress.zipcode" [disabled]="true">
                        </mat-form-field>
                      </td>
                    </tr>
                  </table> -->
       
              </mat-expansion-panel>
    
                <!-- case info other details pannel -->
                <mat-expansion-panel class="pannel_3">
                    <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                      <mat-panel-title>
                       Case Info : Other Details
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    <table class="caseTable custInfo">
                      <tr>
                        <td class="caseOther"><label>Queue: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [(ngModel)]="caseInfo.tableQueue.title" [disabled]="true">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table class="caseTable">
                      <tr>
                        <td class="caseOther"><label>WIPBin: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [(ngModel)]="caseInfo.tableWipbin.title" [disabled]="true">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table class="caseTable">
                      <tr>
                        <td class="caseOther"><label>Owner: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [(ngModel)]="caseInfo.caseOwner.loginName" [disabled]="true">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table class="caseTable">
                      <tr>
                        <td class="caseOther"><label>Condition: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [(ngModel)]="caseInfo.tableCondition.title" [disabled]="true">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <!-- add textarea as field -->

                    <table class="caseTable">
                      <tr>
                        <td class="caseOther"><label>Status: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [(ngModel)]="caseInfo.tableGbstElm.title" [disabled]="true">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                 

                    <table class="caseTable">
                      <tr>
                        <td class="caseOther"><label>Create Date: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [value]="caseInfo.tableCase.creationTime | toLocalTime" [disabled]="true">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>

                    <table class="caseTable">
                      <tr>
                        <td class="caseOther"><label>WorkCenter: </label></td>
                        <td>
                          <mat-form-field class="otherInpt">
                            <input matInput [(ngModel)]="caseInfo.tableCase.xworkCenter" [disabled]="empRole.dslLimited">
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                    <fieldset class="dslSpecification" [class.disbleByRole]="empRole.dslLimited">
                      <legend><b>DSL Specification</b></legend>
                      <table>
                        <tr>
                          <td class="dslSpecifiTd">
                            <mat-form-field  class="installed">
                              <input matInput [(ngModel)]="caseInfo.tableSite.computerLocation" placeholder="Computer Location">
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="primSystem">
                              <mat-select [(value)]="caseInfo.tableSite.operatingSystem" placeholder="Primary Operating System">
                                <mat-option *ngFor="let primOperating of promaryOperationSystem; let i=index" [value]="i+1">{{primOperating}}</mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td class="dslSpecifiTd">
                            <mat-form-field class="installed">
                              <mat-select [(value)]="caseInfo.tableSite.wiringAuth" placeholder=" Is Wiring Authorized?">
                                <mat-option *ngFor="let auth of  authoriz; let i= index" [value]="i+1">{{auth}}</mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </td>
                          <td>
                            <mat-form-field class="primSystem">
                              <mat-select [(value)]="caseInfo.tableSite.availableWiring" placeholder="Is Wiring Available?">
                                <mat-option *ngFor="let avail of  isAvail; let i=index" [value]="i+1">{{avail}}</mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td class="dslSpecifiTd">
                            <mat-form-field class="installed">
                              <mat-select [(value)]="caseInfo.tableSite.ceilingWiring" placeholder="Will wiring be installed above ceiling tiles?">
                                <mat-option *ngFor="let avail of  cellingTiles; let i=index" [value]="i+1">{{avail}}</mat-option>
                              </mat-select>
                            </mat-form-field>  
                          </td>
                          <td>
                            <mat-form-field class="primSystem">
                              <mat-select [(value)]="caseInfo.tableSite.custInstallTime" placeholder="Install Time?">
                                <mat-option *ngFor="let avail of  installTime;" [value]="avail">{{avail}}</mat-option>
                              </mat-select>
                            </mat-form-field> 
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td class="dslSpecifiTd">
                            <mat-form-field class="installed">
                              <mat-select [(value)]="caseInfo.tableSite.phoneCloset" placeholder="Does this site have multiple phone closets?">
                                <mat-option *ngFor="let avail of  multiPhone; let i=index" [value]="i">{{avail}}</mat-option>
                              </mat-select>
                            </mat-form-field> 
                          </td>
                          <td>
                            <mat-form-field class="primSystem">
                              <textarea [(value)]="caseInfo.tableSite.nidLocation" matInput placeholder="Location of NIID">
                                  
                              </textarea>
                            </mat-form-field> 

                            <!-- <textarea class="primSystem2" [(value)]="caseInfo.tableSite.nidLocation" placeholder="Location of NIID">

                              </textarea> -->
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td class="dslSpecifiTd">
                            <mat-form-field class="installed">
                              <mat-select [(value)]="caseInfo.tableSite.acceptLowerSpeed" placeholder="Will the customer accept a lower speed?">
                                <mat-option *ngFor="let avail of  acceptLowerSpeed; let i=index" [value]="i+1">{{avail}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                          <td>
                            <mat-form-field class="primSystem">
                              <mat-select [(value)]="caseInfo.tableAddress.dwellingType" placeholder="Dwelling Type">
                                <mat-option *ngFor="let dewll of dewllingType" [value]="dewll">{{dewll}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                        </tr>
                      </table>
                      <table>
                        <tr>
                          <td class="dslSpecifiTd">
                            <mat-form-field class="installed">
                              <mat-select [(value)]="caseInfo.tableSof.installContactOnSite" placeholder="Is Install Contact On Site?">
                                <mat-option *ngFor="let consit of  contactSite" [value]="consit">{{consit}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </td>
                          <td class="dslSpecifiTd">
                          
                          </td>
                        </tr>
                      </table>
                    </fieldset>

              </mat-expansion-panel>
      
                 </mat-accordion>
                 </div>

                 <div class="matExpansionPannel_right">
                  <mat-accordion class="example-headers-align">
                    <!-- cases notes pannel -->
                    <!-- <button id="btn1" mat-raised-button (click)="changeComp(3);" color="primary">BRASS</button>&nbsp; -->
                    <!-- <button id="btn1" mat-raised-button (click)="changeComp(9);" color="primary">Log Commitment </button>&nbsp; -->
                    <!-- <button color="primary" (click)="selectContactDialog()" mat-raised-button>Select Contact</button> -->
                    <!--<button id="btn1" mat-raised-button (click)="changeComp(6);" color="primary">Select Commitments</button>&nbsp;
                    <button id="btn1" mat-raised-button (click)="changeComp(7);" color="primary">HSIA Info</button>&nbsp; -->
                                              <!-- service information pannel -->
                                              <mat-expansion-panel class="pannel_7" *ngIf="!caseInfo.isNew">
                                                  <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                                    <mat-panel-title>
                                                      Service Information
                                                    </mat-panel-title>
                                                    <!-- <mat-panel-description>
                                                      Tap the pannel to view details
                                                    </mat-panel-description> -->
                                                  </mat-expansion-panel-header>
                                              <bbw-service-info #serviceInfoComp (setSelectedServiceInfo)="setServiceInfoData($event);" [caseInfo]="caseInfo"></bbw-service-info>

                                                </mat-expansion-panel>
      
                      <!-- planner  pannel -->
                      <mat-expansion-panel class="pannel_5" *ngIf="!caseInfo.isNew">
                          <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                            <mat-panel-title>
                              BRASS
                            </mat-panel-title>
                            <!-- <mat-panel-description>
                              Tap the pannel to view details
                            </mat-panel-description> -->
                          </mat-expansion-panel-header>
                          <bbw-brass #brassComp (changeToComponent)="changeComp($event);"></bbw-brass>
                        </mat-expansion-panel>
                                  <!-- billing pannel -->
                        <mat-expansion-panel class="pannel_8" [disabled]="empRole.dslLimited" *ngIf="!caseInfo.isNew">
                                      <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                        <mat-panel-title>
                                          Billing
                                        </mat-panel-title>
                                        <!-- <mat-panel-description>
                                          Tap the pannel to view details
                                        </mat-panel-description> -->
                                      </mat-expansion-panel-header>
                                        <bbw-billing #billing [caseInfo]="caseInfo"></bbw-billing>
                        </mat-expansion-panel>
                        <!-- activity log pannel -->
                        <mat-expansion-panel class="pannel_6" *ngIf="!caseInfo.isNew">
                            <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                              <mat-panel-title>
                                Activity Log
                              </mat-panel-title>
                              <!-- <mat-panel-description>
                                Tap the pannel to view details
                              </mat-panel-description> -->
                            </mat-expansion-panel-header>
                           <bbw-activity-log [caseInfo]="caseInfo"></bbw-activity-log>
                          </mat-expansion-panel>
      
                              <mat-expansion-panel class="pannel_9" *ngIf="!caseInfo.isNew ">
                                <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                  <mat-panel-title>
                                    Commitment History
                                  </mat-panel-title>
                                  </mat-expansion-panel-header>
                                  <bbw-comm-history [caseInfo]="caseInfo"></bbw-comm-history>
                                  </mat-expansion-panel>
                                  <mat-expansion-panel class="pannel_4" *ngIf="!caseInfo.isNew">
                                      <mat-expansion-panel-header [collapsedHeight]="MAT_TAB_COLLAPSED_HEIGHT" [expandedHeight]="MAT_TAB_EXPANDED_HEIGHT">
                                        <mat-panel-title>
                                          Case Notes
                                        </mat-panel-title>
                                      </mat-expansion-panel-header>
                                      <mat-form-field class="case-notes">
                                        <textarea class="case-notes-text-height"  matInput readonly="true">{{caseInfo.tableCase.caseHistory}}</textarea>
                                      </mat-form-field>
                                      <!-- <button mat-raised-button	class="btn_more_info" (click)="openAddNotesDialog()">Add Notes</button> -->
                                    </mat-expansion-panel>
          </mat-accordion>      
    </div>
    <!-- </div> -->