.caseHeader{
    margin-right: 2%;
    margin-top: 1%;
    margin-left: 2%;
    height: 35px;
    width: 96%;
    background-color: #3f51b5;
    color: white;
    font-size: 11pt;
  }
  .mat-form-field{
    height: 45px;
  }
  .firstTbl{
    margin-top: 1%;
  }
  .custTbl{
    background: lightgray;
  }
  .reportTd{
    width: 26%;
  }
  
  table{
    width: 100%;
    /* border: 1px solid gray; */
  }
  .caseActions{
    margin-left: 36%;
  }
  
  p{
    margin-left: 3%;
    font-size: 9pt;
  }
  
  .caesIdTabs{
    margin-left: 2%;
    margin-right: 2%;
  }
  .example-headers-align{
    width:80%;
  }
  .example-headers-align .mat-expansion-panel-header{
    flex-basis:0;
    background-color: #3f51b5;
  }
  
  .mat-expansion-panel-header-description , .mat-expansion-panel-header-title{
    justify-content: space-between;
    align-items: center;
    color: white;
  }

  .mat-expansion-panel .mat-expansion-panel-header:hover{
    background-color:#3f51b5;
  }
  
  .service_div_one{
    margin: 1%;
  }
  
  .serviceCircuit{
    color: #3f51b5;
    margin-left: 1%;
  }
  
  .serviceSubscribed{
    color: #3f51b5;
    margin-left: 50%;
  }
  
  .serviceProvider{
    color: #3f51b5;
    margin-left: 2%;
  }
  
  
  /* mat-raised-button{
    width: 30px;
  } */
  .service_div_two{
    margin-top: 2%;
    margin-left: 0%;
  }
  .btn_one{
    margin-left: 25%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  .btn_two,.btn_three,.btn_six{
    margin-left: 3%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  
  .btn_four{
    margin: 2%;
    margin-left: 47%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  .btn_five{
    margin-left: 1%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  
  .btn_seven{
    margin-left: 47%;
    width: 15%;
    background-color: #3f51b5;
    color: white;
  }
  
  .service_div_three{
    margin-top: 2%;
    margin-left: 2%;
    color: #3f51b5;
    width: 20%;
    height: 20%;
    border-color: 1px solid black;
  } 
  
  .matExpansionPannel_left{
    margin-left: 2%;
    margin-right: 2%;
    margin-top:1%;
    width: 35%;
    display: inline-block;
  }
  
  
  .matExpansionPannel_right{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 0%;
    margin-bottom: 3%;
    width: 56%;
    float: right;
    
  }
  mat-expansion-panel-header{
    background-color: #3f51b5;
    color: white;
  }
  
  mat-panel-title{
    color: white;
  }
  
  .pannel_2,.pannel_3{
    margin-top: 3%;
  }
  
  .pannel_4{
    margin-top: 2%;
  }
  
  .pannel_5,.pannel_6,.pannel_7,.pannel_8,.pannel_9{
    margin-top: 2%;
  }
  

  .row_one,.row_three,.row_five,.row_seven,.row_nine{
    background-color: lightgray;
    height: 46px;
  }

  label{
    font-weight: bold;
  }

  mat-form-field input{
    color: black;
  }
  /* case details field styles */
  .custId{
    width: 100%;
    margin-top: -2%;
  }
  .casetitle{
    width: 100%;
    margin-top: -2%;
  }
  .name{
    width: 100%;
    margin-top: -2%;
  }
  .reportedBy{
    width: 100%;
    margin-top: -2%;
  }
  .mainPhone{
    width: 100%;
    margin-top: -2%;
  }
  .email{
    width: 100%;
    margin-top: -2%;
  }
  .billerId{
    width: 100%;
    margin-top: -2%;
  }
  .type{
    width: 100%;
    margin-top: -2%;
  }
  .subType{
    width: 100%;
    margin-top: -2%;
  }
  .prioritySeverity{
    margin-left: 6%;
    width: 60%;
  }

  /* customer info field styles */


  table, tr, td{
    /* border: 1px solid gray; */
  }
  .roomFlorTd{
    width: 28%;
  }
.custInfo{
  margin-top: 1%;
}
  .address{
    width: 100%;
    margin-top: -1.5%;
  }
 
  .caseTable:nth-child(odd){
    background: lightgray;
  }
  .pager{
    margin-left: 25%;
    width: 60%;
  }
  .fax{
    margin-left: 28%;
    width: 60%;
  }

  /* case info other detail field styles */

  .caseOther{
    width: 20%;
  }
  .otherInpt{
    width: 100%;
    margin-top: -1.5%;
  }

  .btn_site_details,.btn_contact_details{
    margin-left: 13%;
    background-color: #3f51b5;
    color: white;
  }
  /* .btn_contact_details{
    float: right;
    background-color: #3f51b5;
    color: white;
  } */

  .btn_more_info{
    background-color: #3f51b5;
    color: white;
  
  }
  
  .case-notes{
    width: 100%;
  }
  .case-notes-text-height{
    height: 250px;
  }
  .row_one{
    margin-top: 1%;
  }
  
  
/*DSL Specification*/
.dslSpecification{
  width: 95%;
  border: 1px solid gray;
  margin-top: 3%;
}
.compLocaton{
  width: 90%;
}
.primSystem{
  width: 90%;
  float: right;
}
.installed{
  width: 95%;
}
table, tr, td{
  /* border: 1px solid gray; */
}

.dslSpecifiTd{
  width: 57%;
}
/* .primSystem2{
  width: 88%;
  float: right;
  border: none;
  border-bottom: 1px solid;
}  */
textarea.mat-input-element {
  padding: 0px 0;
  margin: -6px 0;
}
.btn_select_details{
  float: right;
}
.disbleByRole{
  pointer-events: none;
}

.align-center{
  text-align: center;
}











