<!-- 
<p *ngIf="!showMain">Loading...</p> -->
<bbw-root *ngIf="showMain" [userInfo]="userInfo"></bbw-root>
<div *ngIf="!showMain">
    <img class="access-denied-img" alt="img" src="assets/img/attlogo.png" />
    <div align="center" class="access-denied-div-padding">
        <div class="dynamicBoxStyle" align="left">
            <p class="logout-header">AT&T Proprietary</p>
            <hr />
            <pre class="alignToMiddle">{{attMessage}}</pre>
            <hr />
            <button mat-flat-button color="primary" (click)="hideThisLicence()"> I Accept </button>
            <button class="showRight" mat-flat-button color="primary" (click)="logoutFromHere()"> Do Not Accept
            </button>
        </div>
    </div>
</div>