<mat-card>Date/Time Entry<span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<div>
  <table>
    <tr>
      <td>
        <mat-label>Date:</mat-label>
      </td>
      <td><input maxlength="2" placeholder="mm" [(ngModel)]="month"></td>/
      <td><input maxlength="2" placeholder="dd" [(ngModel)]="date"></td>/
      <td><input maxlength="4" placeholder="yyyy" [(ngModel)]="year"></td>
    </tr>
    <br>
    <tr>
      <td>
        <mat-label>Time:</mat-label>
      </td>
      <td><input maxlength="2" placeholder="hh" [(ngModel)]="hours"></td>:
      <td><input maxlength="2" placeholder="mm" [(ngModel)]="minutes"></td>:
      <td><input maxlength="2" placeholder="ss" [(ngModel)]="seconds"></td>
    </tr>
  </table>
  <br>
  <mat-radio-button style="margin-left:18%;" name="checkTime" [value]="twelveHour" (click)="twelveFormat()" checked>12 hr</mat-radio-button>
  <!-- <mat-radio-button style="margin-left:3%;" name="checkTime" [value]="twentyFourHour" (click)="twentyFourFormat()" checked>24 hr</mat-radio-button> -->

  <select style="margin-left:3%;" [(ngModel)]="selection">
    <option name="time" value="AM" selected>AM</option>
    <option name="time" value="PM">PM</option>
  </select>
</div>
<br>
<div>
  <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
  <button mat-raised-button color="primary" style="float:right;" (click)="fullFillModify()">OK</button>
</div>