<div class="container">
    <mat-card> New Address <p (click)="closeDialog()" class="close">&times;
        </p>
    </mat-card>
    <table>
        <tr>
            <td class="addressTd">
                <mat-label>Address: </mat-label>
            </td>
            <td>
                <mat-form-field class="adrsInpt">
                    <input matInput [(ngModel)]="details.addressInfo.address" type="text">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="addressTd"></td>
            <td>
                <mat-form-field class="adrsInpt">
                    <input matInput [(ngModel)]="details.addressInfo.address2" type="text">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="addressTd">
                <mat-label>City: </mat-label>
            </td>
            <td class="inptTd">
                <mat-form-field class="citInpt">
                    <input matInput [(ngModel)]="details.addressInfo.city" type="text">
                </mat-form-field>
            </td>
            <td class="stateTd">
                <mat-label>State: </mat-label>
            </td>
            <td>
                <mat-form-field class="custDrop">
                    <mat-select [(ngModel)]="details.addressInfo.state">
                        <mat-option *ngFor="let stateDrop of stateDropdown" [value]="stateDrop">
                            {{stateDrop}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="addressTd">
                <mat-label>Zip Code: </mat-label>
            </td>
            <td class="inptTd">
                <mat-form-field class="citInpt">
                    <input matInput [(ngModel)]="details.addressInfo.zipcode" type="text">
                </mat-form-field>
            </td>
            <td class="stateTd">
                <mat-label>County: </mat-label>
            </td>
            <td>
                <mat-form-field class="countryInpt">
                    <input matInput [(ngModel)]="details.addressInfo.county" type="text">
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="addressTd">
                <mat-label>Country: </mat-label>
            </td>
            <td class="inptTd">
                <mat-form-field class="custDrop">
                    <mat-select [(ngModel)]="details.addressInfo.country">
                        <mat-option *ngFor="let countryDrop of countryDropdown" [value]="countryDrop">
                            {{countryDrop}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <td class="stateTd">
                <mat-label>Time Zone: </mat-label>
            </td>
            <td>
                <mat-form-field class="custDrop">
                    <mat-select [(ngModel)]="details.addressInfo.timeZone">
                        <mat-option *ngFor="let timeZone of timeZoneDrop" [value]="timeZone">
                            {{timeZone}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td><button mat-raised-button color="primary">Use/Done</button></td>
            <td><button mat-raised-button class="btnGrp" (click)="addAddress()" [disabled]="!isNew || empRole.dslLimited" color="primary">Add</button></td>
            <td><button mat-raised-button class="btnGrp" (click)="replaceAddress()" [disabled]="isNew || empRole.dslLimited" color="primary">Replace</button></td>
            <td><button mat-raised-button class="btnGrp" [disabled]="isNew || disableNext" (click)="next()" color="primary">Next</button></td>
            <td><button mat-raised-button class="btnGrp" [disabled]="isNew || disablePrev "  (click)="prev()" color="primary">Previous</button></td>
            <td><button mat-raised-button class="donBtn" (click)="closeDialog()" color="primary" >Done</button></td>
        </tr>
    </table>
</div>