
  <div class="container">       
  <div class="grid-item">
  <table class="htable" >
               <tr>
                 <td>Action Type</td>
                 <td><mat-form-field>
                     <mat-select [(ngModel)]="selectedActionType">
                     <mat-option ng-disabled="disabled" *ngFor="let action of actionTypes" [value]="action">
                     {{action}}
                     </mat-option>
                     </mat-select>
                    </mat-form-field>
                </td>
                 <td><button id="btn2" (click)="confirmAction('action')" mat-raised-button color="primary">Action</button></td>
                </tr>
                <tr>
                   <td>IP Action Type</td>
                   <td><mat-form-field>
                       <mat-select [(ngModel)]="selectedIpActionType">
                       <mat-option *ngFor="let ipAction of ipActionTypes" [value]="ipAction">
                       {{ipAction}}
                       </mat-option>
                       </mat-select></mat-form-field></td>
                   <td><button id="btn2" (click)="confirmAction('ipAction')" mat-raised-button color="primary">IP Action</button></td>
                  </tr>
                  <tr>
                     <td>Fetch type</td>
                     <td> <mat-form-field>
                         <mat-select  [(ngModel)]="selectedFetchType">
                         <mat-option *ngFor="let fetch of fetchTypes" [value]="fetch">
                         {{fetch}}
                         </mat-option>
                         </mat-select></mat-form-field></td>
                     <td><button id="btn2" (click)="confirmAction('fetch')" mat-raised-button color="primary">Fetch</button></td>
                    </tr>
                 </table>
        </div>
        
        <div class="grid-item2">
                <br>
               <fieldset>
                <legend>IP Letter: </legend>
                <mat-radio-group >
                        <mat-radio-button class="align-left" [checked]="true" value="1">View</mat-radio-button>
                </mat-radio-group>&nbsp;&nbsp;&nbsp;
               <button [disabled]="empRole.dslLimited" mat-raised-button color="primary"  (click)="createIp()">Create IP mail</button><br>
               <br>
               <label>Letter type:</label>
               <mat-form-field>
                <mat-select [(ngModel)]="selectedLetterType" [disabled]="empRole.dslLimited">
                    <mat-option *ngFor="let letter of ipLetterTypes" [value]="letter">{{letter}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </fieldset>
        </div>
    <div><label>BRASS Response:</label></div>

    
    <!--Mat Table-->
    <div class="responseTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="Activity">
            <th class="th" mat-header-cell *matHeaderCellDef> Activity </th>
            <td class="td" mat-cell *matCellDef="let activityLog"> {{activityLog.actName}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="Create Date">
            <th class="th" mat-header-cell *matHeaderCellDef> Create Date </th>
            <td class="td" mat-cell *matCellDef="let activityLog"> {{activityLog.entryTime | toLocalTime}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="User">
          <th class="th" mat-header-cell *matHeaderCellDef> User </th>
          <td class="td" mat-cell *matCellDef="let activityLog"> {{activityLog.loginName}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="Additional Information">
          <th class="th" mat-header-cell *matHeaderCellDef> Additional Information </th>
          <td class="td" mat-cell *matCellDef="let activityLog"> {{activityLog.addInfo}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row class="result-row" *matRowDef="let row; columns: displayedColumns;" 
                                        [ngClass]="{'highlight': selectedAct == row}"
                                        (click)="setClickedRow(row)"></tr>
        </table>  
        <mat-progress-spinner style="margin-top:8%;left: 45%;z-index:125;" *ngIf="isLoading" color="success" mode="indeterminate"></mat-progress-spinner>    
  </div>
  <table class="align-middle">
      <tr>
            <td><button mat-raised-button color="primary" [disabled]="basedOnSirResponse" (click)="openSIRDialog()">SIR</button></td>
            <!-- <td><button class="updateBtn" mat-raised-button color="primary">UPDATE</button></td> -->
            <td><button  mat-raised-button color="primary" (click)="additionalInfo()">Additional Info</button></td>
            <td><button  mat-raised-button color="primary" (click)="refreshLog()" >Refresh</button></td>
            <td><button  mat-raised-button color="primary" (click)="openBrassDialog()" [disabled]="empRole.dslLimited">BRASS Errors</button></td>
            <td><button  mat-raised-button color="primary" [disabled]="!caseInfo.caseYanked || empRole.dslLimited" (click)="disconnectBrass()">Disconnect BRASS</button></td>
      </tr>
  </table >
    <br><br>
</div>            