
mat-card{
    background: #3f51b5;
    color: white;
    width: 103.3%;
    padding: 8px;
    margin-left: -2.5%;
    margin-top: -2.5%;
}
.selectNames{
    width: 38%;
    height: 568px;
    border: 1px solid gray;
    display: inline-block;
    margin-top: 1%;
    float: left;
    overflow: auto;
}
tr.mat-row:nth-child(odd){
    background: #f2f2f2;
}
tr.mat-row.highlight{
    background:#BBDEFB;
    color: white;
}
.td{
    border-right: 1px solid #0000001f;
    padding: 5px;
}
.th {
    border-right: 1px solid #0000001f;
    padding-left: 4px;
}
.queMembers{
    width: 38%;
    height: 352px;
    border: 1px solid gray;
    float: right;
    margin-top: 1%;
    overflow: auto;
}
.queMembers2{
    width: 38%;
    height: 216px;
    border: 1px solid gray;
    float: right;
    margin-top: 1%;
    overflow: auto;
}
.btnDiv{
    width: 12%;
    height: 86%;
    /* border: 1px solid gray; */
    margin-top: 1%;
    display: inline-block;
    margin-left: 6.6%;
}
.btnDiv2{
    width: 12%;
    height: 86px;
    /* border: 1px solid gray; */
    margin-top: 32.5%;
    display: inline-block;
    margin-left: 6.6%;
}
.copyBtn{
    width: 86%;
}

.removBtn{
    margin-top: 8%;
}
.donBtn{
    float: right;
}
table{
    width: 100%;
    /* padding-top: 2.5%; */
}

tr.mat-header-row {
    height: 25px;
}

th{
    font-size: 15px;
    background-color: #3f51b5;
    color: white;
}
.donTbl{
    padding-top: 1.5%;
}
tr.mat-footer-row, tr.mat-row{
    height: 26px;
}

* {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
.search{
    height: 41px;
}


