mat-toolbar{
    background: #3f51b5;
    color: white;
    height: 30px;
    padding: 1%;
    padding-top: 1.3%;
    margin-top: -3.5%;
    width: 106%;
    margin-left: -3%;
}
.timeInput{
    width: 73%;
}
select{
    width: 324px;
    height: 35px;
}

textarea{
    width: 100%;
    height: 190px;
    resize: none;
    background: fixed no-repeat;
}
.sendButton{
    /* margin-left: 50%; */
    float: right;
}
.table1{
    margin-top: -1%;
}
div.startTime{
    margin-left: 53%;
    margin-top: -9%;
}
div.marginTop{
    margin-top: -2%;
}
.close{
    cursor: pointer;
    margin-left: 85%;
}
mat-form-field{
    width: 30%;
}
.ccList{
    left: 5%;
    width: 88%;
}
mat-form-field,.recipient{
    left:2%;
    width: 88%;
}
.action{
    left: 1%;
}
.sender{
    left: 5.5%;
    width: 35%;
}
*{
    font-family:  Roboto,"Helvetica Neue",sans-serif;
}