<div class="container">
  <mat-card>Queue {{select.objid != null ? select.title : 'Untitled1'}}<p (click)="closeDialog()" class="close">&times;</p>
  </mat-card>
  <div>
    <table>
      <tr>
        <td class="titleTd">
          <mat-label>Title</mat-label>
        </td>
        <td>
          <mat-form-field class="input">
            <input matInput [(ngModel)]="select.title" type="text">
          </mat-form-field>
        </td>
        <td>
          <mat-radio-group (change)="(select.sharedPers != '1') ? select.sharedPers='1' : select.sharedPers='0'">
            <mat-radio-button [checked]="select.sharedPers == '1'" name="shar" value="1" class="align-left">Shared</mat-radio-button>
            <span class="radioBtn2">
              <mat-radio-button [checked]="select.sharedPers == '0'" name="shar" value="0"  class="align-left">Personal</mat-radio-button>
            </span>
          </mat-radio-group>
        </td>
      </tr>
    </table>
    <div class="description">
      <mat-label>Description:</mat-label>
    </div>
    <textarea rows="12" cols="130" [(ngModel)]="select.description" class="txtarea">
    </textarea>

    <div class="object">
      <mat-label>Objects Allowed:</mat-label>
    </div>
    <div class="checkbox">
      <table class="checkbox1">
        <tr>
          <td class="caseTd">
            <mat-checkbox [checked]="select.allowCase == '1'" (change)="(select.allowCase != '1') ? select.allowCase = '1': select.allowCase='0'">Case</mat-checkbox>
          </td>
          <td class="caseTd">
            <mat-checkbox [checked]="select.allowProbdesc == '1'" (change)="(select.allowProbdesc != '1') ? select.allowProbdesc = '1': select.allowProbdesc='0'">Solution</mat-checkbox>
          </td>
          <td>
            <mat-checkbox [checked]="select.allowDmndDtl == '1'" (change)="(select.allowDmndDtl!='1') ? select.allowDmndDtl='1': select.allowDmndDtl='0'">Part
              Request</mat-checkbox>
          </td>
        </tr>
      </table>
      <table class="checkbox2">
        <tr>
          <td class="caseTd">
            <mat-checkbox [checked]="select.allowSubcase == '1'" (change)="( select.allowSubcase != '1') ? select.allowSubcase = '1': select.allowSubcase='0'">Subcase</mat-checkbox>
          </td>
          <td class="caseTd">
            <mat-checkbox [checked]="select.allowBug=='1'" (change)="(select.allowBug!='1') ? select.allowBug='1': select.allowBug='0'">Change
              Request</mat-checkbox>
          </td>
          <td>
            <mat-checkbox [checked]="select.allowContract=='1'" (change)="(select.allowContract!='1') ? select.allowContract='1' : select.allowContract='0'">Quote/Contract/Order</mat-checkbox>
          </td>
        </tr>
      </table>
      <table class="checkbox3">
        <tr>
          <td class="caseTd">
            <mat-checkbox [checked]="select.allowTask=='1'" (change)="(select.allowTask!='1') ? select.allowTask='1' : select.allowTask='0'">Action
              Item</mat-checkbox>
          </td>
          <td class="caseTd">
            <mat-checkbox [checked]="select.allowOpp=='1'" (change)="(select.allowOpp!='1') ? select.allowOpp='1' : select.allowOpp='0'">Opportunity</mat-checkbox>
          </td>
          <td>
            <mat-checkbox [checked]="select.allowDialogue=='1'" (change)="(select.allowDialogue!='1') ? select.allowDialogue='1' : select.allowDialogue='0'">Dialogue</mat-checkbox>
          </td>
        </tr>
      </table>
    </div>
    <!-- <table>
      <tr>
        <td><mat-label>Objects Allowed:</mat-label></td>
        <td><mat-checkbox>Case</mat-checkbox></td>
        <td><mat-checkbox>Solution</mat-checkbox></td>
        <td><mat-checkbox>Part Request</mat-checkbox></td>
      </tr>
    </table> -->
    <table class="btnTbl">
      <tr>
        <!-- <td><button mat-raised-button color="primary">Skills...</button></td> -->
        <td><button mat-raised-button (click)="moreInfoQueues()" color="primary" >More Info...</button></td>
        <!-- <td><button mat-raised-button color="primary">Skills</button></td>
        <td><button mat-raised-button color="primary" >Skills</button></td> -->
        <td><button mat-raised-button (click)="addQueue()" color="primary" [disabled]="empRole.dslLimited" >Add</button></td>
        <td><button [disabled]="isNew || empRole.dslLimited" mat-raised-button (click)="replaceQueue()" color="primary">Replace</button></td>
        <td><button mat-raised-button (click)="closeDialog()" color="primary" >Done</button></td>
      </tr>
    </table>
  </div>
</div>