<!-- <h1 mat-dialog-title>Do You Want to Create SIR ?</h1>
<div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary" (click)="onCancelClick()">Yes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="okBtn" mat-raised-button color="primary" (click)="onOkClick()" >No</button>
    </div>
    </div> -->


    <div id="id01" class="w3-modal">
        <div class="w3-modal-content">
          <header class="w3-container w3-teal"> 
          Confirmation
          <span class="close" (click)="onCancelClick()">&times;</span>
          </header>
          <div class="body">
            Do you want to create SIR?
          </div>
          <footer class="footer">
            <button class="okBtn" mat-raised-button color="primary" (click)="onOkClick()" >Yes</button>
            <button class="noBtn" mat-raised-button color="primary" (click)="onCancelClick()">No</button>
          </footer>
        </div>
      </div>