<mat-card>Dispatch<span class="close" (click)="cancelDialog()">&times;</span></mat-card><br>
<div>
    <table>
        <tr>
            <td><label>ID: </label></td>
            <td><input disabled [value]="caseInfo.caseId"></td>
        </tr>
        <tr>
            <td><label>Title: </label></td>
            <td><input disabled [value]="caseInfo.title"></td>
        </tr>
        <tr>
            <td><label>WIPbin: </label></td>
            <td><input disabled [value]="caseInfo.wipBinTitle"></td>
        </tr>
    </table>
</div><br>
<div><label>Select Queue:</label></div>
<mat-form-field>
        <input (keyup)="applyFilter($event.target.value);" matInput placeholder="Search Queue Name">
</mat-form-field>
<!-- <label>List Queues Whose:</label>
<div>
    <table>
        <tr>
            <td>
                <select [(ngModel)]="firstOrderSelected">
                    <option value="QueueName">Queue Name</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="thirdOrderSelected" class="thirdOrder">
                    <option value="Descending">Descending</option>
                    <option value="Ascending">Ascending</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select [(ngModel)]="secondOrderSelected">
                    <option value="starts with">starts with</option>
                    <option value="contains">contains</option>
                    <option value="ends with">ends with</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field>
                    <input matInput [(ngModel)]="userTextInput">
                </mat-form-field>
            </td>
            <td>
                <button class="listBtn" (click)="listClick()" mat-raised-button color="primary">List</button>
            </td>
        </tr>
    </table>
</div> -->
<div class="queueTable">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" bbwDraggableTable>
        <ng-container matColumnDef="Queue Name">
            <th mat-header-cell *matHeaderCellDef> Queue Name </th>
            <td mat-cell *matCellDef="let queue"> {{queue.title}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedAct == row}"
            (click)="setClickedRow(row)">
        </tr>
    </table>
</div><br>
<mat-checkbox [disabled]="isCheckDisabled">Create Quick Batch Also</mat-checkbox>
<div>
    <table>
        <tr>
            <td>
                <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
            </td>
            <td>
                <button mat-raised-button color="primary" [disabled]="isAvailButtonDisabled">Availability</button>
            </td>
            <td>
                <button mat-raised-button color="primary" [disabled]="isDispButtonDisabled" (click)="dispatch()" >Dispatch</button>
            </td>
        </tr>
    </table>
</div>